body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	cursor: default;
	font-size: 16px;
}

.page-nav {
  box-shadow: 0px 0.1px 1px 1px #fff;
  padding: 80px 125px 0 125px;
  list-style: none;
  border: none;
  font-weight: 100;
  background-color: #fff;
}

.navbar-right li {
	margin-left: 30px;
	padding-right: 15px;
}

.navbar li a {
	padding: 0;
	color: #474747;
}

.navbar li a:hover, .navbar li a:focus {
	text-decoration: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #474747;
}

.brand {
	margin: 0;
	vertical-align: middle;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #fff;
}

.dropdown-menu {
	padding: 10px;
	padding-left: 25px; 
	border: none;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 5px;
}

.dropdown-menu li {
	margin: 0;
}

.dropdown-menu li a {
	color: #777;
	font-size: 16px;
	font-weight: 100;
}

#intro {
	margin-top: 250px;
	margin-bottom: 180px;
	text-align: center;
	font-weight: 600;
	font-size: 75px;
	line-height: 90px;
}

#underline span {
	text-decoration: underline;
}

.overview {
	margin: 0 125px 10px 125px;
}

.portfolio, .dc {
	padding: 0;
	cursor: pointer;
}

.portfolio {
	background-size: 100%;
}

.portfolio img {
	opacity: 1;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
}

.portfolio img:hover {
	opacity: 0;
}

.share1 {
	background-image: url("../img/share2.png");
}

.surf1 {
	background-image: url("../img/surf2.png");
}

.aqua1 {
	background-image: url("../img/aqua2.png");
}

.bridge1 {
	background-image: url("../img/bridge2.png");
}

#contact, #contact a, #contact a:hover {
	color: #bababa;
}

#contact {
	text-align: left;
	font-size: 40px;
	font-weight: 800;
	line-height: 25px;
	margin-left: 125px;
	margin-bottom: 40px;
}

#contact a:hover {
	text-decoration: none;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
	color: #777;
}

#contact a:focus {
	text-decoration: none;
}

.blue {
	color: #FCAF95;
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
}