body {
	font-family: 'Open Sans', sans-serif;
	color: #4c4c4c;
	font-weight: 300;
  line-height: 150%;
	font-size: 1.2vw;
  /*background-color: #fafafa;*/
  cursor: default;
}

::selection {
  background-color: transparent;
  color: #c7d0d5;
}

h3 {
	font-weight: 300;
}

a {
  color: #4c4c4c;
}

a:hover, a:focus {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
  color: #ff7328;
}

footer {
  margin-top: 40px;
  font-size: 1.1vw;
  text-align: center;  
}

#footer1 {
  height: 100px;
}

#footer2 {
  padding-bottom: 20px;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.underline {
  border-bottom: dotted 1px #ff7328;
}

#aboutme {
  text-align: justify;
  margin: 50px 5px 60px 5px;
}


/*main*/

#main {
  background-position: center bottom;
  background-repeat: no-repeat;
}

.main_content {
  width: 85%;
  margin-left: auto;
  margin-right: auto; 
}

.title {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: left;
  font-size: 24px;
  text-transform: uppercase;
  color: #ff7328;
  font-weight: bold;
}

.title:hover {
  color: #ff7328;
  text-decoration: none;
}

.title:focus {
  color: #ff7328;
  text-decoration: none;
}

.yeqing {
  margin-bottom: 65px;
  margin-top: 60px;
  color: #ff7328;
}


/*projects*/

.navbar-inverse {
  background-color: rgba(0,0,0,0.85);
}

#filter {
  text-align: left;
  margin-bottom: 30px;
  /*font-weight: bold;*/
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#filter a:focus {
  color: #4c4c4c;
}

.thumb {
  padding: 0;
  transition: all 0.5s ease;
}

.thumb {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}

.thumb img {
  width: 100%;
  vertical-align: top;
}

.name {
  font-weight: 600;
}



#project_main {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  /*background-color: #fafafa;*/
  padding: 60px 0 15px 0;
  margin-top: 20px; 
  text-align: center;
}

.project_content {
  text-align: justify;
}

#ui_view, .project_content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/*#close {
  margin: 0 15px 15px 45px;
  position: fixed;
}*/

.project_title, .heading {
  font-size: 1.3vw;
  margin: 15px;
}

.heading {
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}

.highlight {
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}

.anchor {
  font-size: 1.1vw;
}

.dropdown-menu {
  -webkit-box-shadow: 0 0px 4px rgba(0,0,0,.175);
  box-shadow: 0 0px 4px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
  color: #4c4c4c;
  font-weight: 300;
  line-height: 150%;
  font-size: 1.2vw;
}

.role {
  color: #c4c4c4;
  font-size: 1.2vw;
}

/*about*/
#about p {
  text-align: justify;
}

.colorpalette {
  padding-top: 25%;
}


@media screen and (min-width: 1500px) {
  body, .role {
    font-size: 1vw;
  }

  footer, .anchor {
    font-size: 0.9vw;
  }

  .project_title, .heading {
    font-size: 1.1vw;
  }

  .dropdown-menu>li>a {
    font-size: 1vw;
  }
}

@media screen and (max-width: 960px) {
  body, .role {
    font-size: 16px;
  }

  footer, .anchor {
    font-size: 14px;
  }

  .main_content, #ui_view, .project_content {
    width: 94%;
  }

  .project_title, .heading, .dropdown-menu>li>a {
    font-size: 18px;
  }
}