body {
	font-family: 'Lato', 'Helvetica Neue', sans-serif;
	color: #4c4c4c;
	font-weight: 300;
	font-size: 15px;
  background-color: #fafafa;
/*  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  cursor: default;
}

::selection {
  background-color: transparent;
  color: #6bb6ef;
}

h2 {
  /*text-transform: uppercase;*/
  font-weight: 300;
  margin: 0;
  font-size: 22px;
  color: #4c4c4c;
}

h2 .num {
  font-weight: 700;
  text-transform: uppercase;
  color: #00506d;
}

h3 {
	font-weight: 300;
}

b {
  color: #4c4c4c;
}

a {
  color: #4c4c4c;
}

a:hover, a:focus {
	text-decoration: none;
	cursor: pointer;
  color: #4c4c4c;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer {
  border-top: solid 1px #4c4c4c;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}

#main footer {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}

.underline {
  border-bottom: solid 1px #6bb6ef;
}

#aboutme {
  text-align: justify;
  margin: 50px 5px 60px 5px;
}


/*main*/

#main {
  line-height: 26px;
  background-image: url(../img/bg.jpg);
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;

}

.main_content {
  width: 85%;
  margin-left: auto;
  margin-right: auto; 
}

.yeqing {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: left;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 33px;
  margin-top: 100px;
  /*color: #6bb6ef;*/
}


/*projects*/

.prj_page {
  margin-top: 50px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#filter {
  text-align: left;
  margin-bottom: 30px;
  /*font-weight: bold;*/
  line-height: 30px;
  font-size: 14px;
}

#filter li a {
  color: #4c4c4c;
}

/*thumbnails*/

.allprj {
  padding-top: 50px;
}

.thumb {
  padding: 0;
  transition: all 0.5s ease;
}

.thumb1 {
  padding: 5px;
}

.thumb {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
.thumb * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.thumb img {
  width: 100%;
  vertical-align: top;
}
.thumb figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.thumb:after {
  background-color: #fafafa;
  position: absolute;
  content: "";
  display: block;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}

.thumb:hover figcaption,
.thumb.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.thumb:hover:after,
.thumb.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 1;
}

/*.thumb:hover img {
  -moz-filter: grayscale(60%);
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);  
}*/

.name {
  font-weight: 600;
  text-transform: uppercase;
}


/*project page*/

.banner {
  text-align: center;
}

.h0 {
  font-family: "Helvetica Neue";
  font-size: 6vw;
  /*color: #fff;*/
  margin: 0;
}

.prj_content hr {
  /*background-color: #4c4c4c;*/
  /*height: 3px;*/
  width: 200px;
  /*border: none;*/
  /*margin-left: 0;*/
}

.prj_content h2 {
  margin-top: 2px;
  /*color: #424242;*/
}

.prj_content h3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: -11px 0 30px 0;
}

.prj_content .highlight {
  color: #00506d;
  font-weight: 400;
}

.prj_content b {
  color: #00506d;
}

.overview {
  text-align: center;
}

.prj_content {
  word-spacing: 2px;
  margin-bottom: 50px;
  line-height: 26px;
}

.prj_content .prj_text {
  text-align: justify;
}

.prj_content .content_img {
  text-align: center;
}

.prj_text {
  margin-bottom: 0;
}

.prev_next {
  text-align: center;
}

.up {
  text-align: right;
}

.down {
  margin-top: 47px;
}

.end {
  text-align: center;
  font-size: 14px;
}

#kc_link, #kc_link:hover, #kc_link:focus, #kc_link:visited {
  text-decoration: none;
  color: #4c4c4c;
  padding: 7px 15px 9px 15px;
  border: solid #4c4c4c 1px;
}

/*banners*/
.autel .h0 {
  background: -moz-linear-gradient(left,  #C13F2B 0%, #FF5955 70%);
  background: -webkit-linear-gradient(left,  #C13F2B 0%, #FF5955 70%);
  background: linear-gradient(to right,  #C13F2B 0%, #FF5955 70%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.echo .h0 {
/*  background: -moz-linear-gradient(left,  #1D3A97 0%, #72e4f8 80%);
  background: -webkit-linear-gradient(left,  #1D3A97 0%, #72e4f8 80%);
  background: linear-gradient(to right,  #1D3A97 0%, #72e4f8 80%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;*/
  color: gray;
}

.share .h0 {
  background: -moz-linear-gradient(left,  #0e83ff 0%, #57deff 80%);
  background: -webkit-linear-gradient(left,  #0e83ff 0%, #57deff 80%);
  background: linear-gradient(to right,  #0e83ff 0%, #57deff 80%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.surf .h0 {
  background: -moz-linear-gradient(left,  #0dc8dd 0%, #57deff 80%);
  background: -webkit-linear-gradient(left,  #0dc8dd 0%, #57deff 80%);
  background: linear-gradient(to right,  #0dc8dd 0%, #57deff 80%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.aqua .h0 {
  background: -moz-linear-gradient(left,  #0dc8dd 0%, #40E9BA 50%);
  background: -webkit-linear-gradient(left,  #0dc8dd 0%, #40E9BA 50%);
  background: linear-gradient(to right,  #0dc8dd 0%, #40E9BA 50%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.bridge .h0 { 
  background: -moz-linear-gradient(left,  #ee509d 0%, #ff8892 60%);
  background: -webkit-linear-gradient(left,  #ee509d 0%, #ff8892 60%);
  background: linear-gradient(to right,  #ee509d 0%, #ff8892 60%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.kc .h0 {
  background: -moz-linear-gradient(left,  #aa5c16 0%, #e9ad71 70%);
  background: -webkit-linear-gradient(left,  #aa5c16 0%, #e9ad71 70%);
  background: linear-gradient(to right,  #aa5c16 0%, #e9ad71 70%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}


/*about*/
#about p {
  text-align: justify;
}

@media screen and (max-width: 480px) {
}