body {
	margin: 0;
	padding-top: 20px;
	text-align: center;
}

h1 {
	font-size: 80px;
	margin: 0;
}

section p, section li {
	font-weight: 300;
}

ul {
	padding: 0;
}

#main {
	border-top: solid #474747 1px;
	padding-top: 20px;
	height: 100%;
	background-color: #fff;
}

.title {
	padding: 40px 0 10px 30px;
	color: #fff;
	background: #0e83ff;
}

.share {
	background: -moz-linear-gradient(left,  #0e83ff 0%, #57deff 50%);
	background: -webkit-linear-gradient(left,  #0e83ff 0%, #57deff 50%);
	background: linear-gradient(to right,  #0e83ff 0%, #57deff 50%);
}

.surf {
	background: -moz-linear-gradient(left,  #57deff 0%, #0dc8dd 50%);
	background: -webkit-linear-gradient(left,  #57deff 0%, #0dc8dd 50%);
	background: linear-gradient(to right,  #57deff 0%, #0dc8dd 50%);
}

.aqua {
	background: -moz-linear-gradient(left,  #0dc8dd 0%, #40E9BA 50%);
	background: -webkit-linear-gradient(left,  #0dc8dd 0%, #40E9BA 50%);
	background: linear-gradient(to right,  #0dc8dd 0%, #40E9BA 50%);
}

.bridge { 
	background: -moz-linear-gradient(left,  #40E9BA 0%, #96e800 50%);
	background: -webkit-linear-gradient(left,  #40E9BA 0%, #96e800 50%);
	background: linear-gradient(to right,  #40E9BA 0%, #86ce00 50%);
}

.content {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.abstract {
	margin-top: 20px;
  border-bottom: solid 1px;
  border-top: solid 1px;
  padding: 10px 0 0 0;
}

.d-t {
	font-weight: bold;
}

.demo-btn {
    background-color: #adabab;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    padding: 6px 8px;
    text-decoration: none;
}

.demo-btn:hover {
	background-color:#7f7f7f;
	text-decoration: none;
	color: #fff;
}

.demo-btn:active {
	position:relative;
	top:1px;
}

#main h4, #main p {
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
}

#main h3 {
	padding-left: 24px;
	text-align: left;
}