body {
	margin: 0;
	padding-top: 20px;
}

#main {
	background-color: #F5F5F5;
	border-top: solid #474747 1px;
	padding-top: 20px;
	height: 100%;
}

#about2 {
	text-align: center;
}

.title {
	/*background-color: #474747;*/
	text-align: center;
}

#aqua-logo {
	width: 20%;
}

h2 {
	margin: 0;
}

.content {
	list-style: none;
}

.left, .right {
	margin-top: 20px;
}

.left {
	font-size: 24px;
}

.right {
	margin-left: 20px;
}

iframe, .content {
	margin-left: auto;
	margin-right: auto;
}