body {
	background-color: #AFE8FF;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 25px;
	color: #474747;
	font-weight: 100;
}

ul {
	list-style: none;
}

a, a:hover, a:focus {
	color: #474747;
}

a:hover, a:focus {
	text-decoration: none;
}

#c1, #c2, #c3 {
	z-index: -100;
	position: fixed;
}

#c1 {
	width: 220px;
	top: 50px;
	left: 750px;
	opacity: 0.7;
}

#c2 {
	width: 180px;
	top: 200px;
	left: 50px;
	opacity: 0.8;
}

#c3 {
	width: 150px;
	top: 400px;
	left: 1000px;
}

#c4 {
	opacity: 0.7;
}

.page-nav {
  box-shadow: 0px 0.1px 1px 1px #fff;
  padding: 0 30px 0 30px;
  list-style: none;
  border: none;
  font-weight: 100;
  background-color: #fff;
}

.navbar-right li {
	margin-left: 30px;
}

.navbar li a {
	padding: 0;
	color: #474747;
}

.navbar li a:hover, .navbar li a:focus {
	text-decoration: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #474747;
}

.brand {
	font-family: 'Sacramento', cursive;	
	font-size: 20px;
	margin: 0;
	vertical-align: middle;
}

#intro {
	text-align: center;
	position: relative;
	top: 15vh;
}

#name {
	font-size: 100px;
	font-family: 'Sacramento', cursive;	
	color: #04A1D6;
	margin-bottom: 20px;
}

#intro-me {
	border-radius: 50%;
	background-color: #474747;
	width: 150px;
	margin-bottom: 20px;
}

#crane {
	width: 45%;
	width: 100px;
	margin-top: 60px;
}

#projects {
	margin-top: 50px;
	text-align: center;
}

.sec {
	font-weight: 600;
	font-size: 40px;
	color: #fff;
	margin-bottom: 20px;
}

#thumbnails {
	margin-bottom: 40px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.hovereffect {
  width: 80%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect .overlay:hover {
	background-color:rgba(0,0,0,0.5);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
	font-size: 25px;
	font-weight: 100;
  text-transform: uppercase;
  position: relative;
  top: 10%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect .info {
  position: absolute;
  top: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
  background-color: transparent;
}

.hovereffect .bridge {
	top: 65%;
}

.hovereffect .info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
}

.hovereffect:hover .info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#about {
	clear: both;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: #474747;
	font-size: 14px;
	color: #fff;
	/*text-align: right;*/
}

@media screen and (min-width: 768px) and (min-device-width : 768px) {
  #intro {
  	height: 100vh;
  }

	.navbar-right, .brand-name {
		padding-top: 16px;
	}
}

@media screen and (max-width: 768px) and (max-device-width : 768px) {
	#intro {
  	height: 100vh;
  }

  #name {
  	font-size: 70px;
  }
}