body {
	background-color: #AFE8FF;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #474747;
	font-weight: 100;
}

ul {
	list-style: none;
}

a, a:hover, a:focus {
	color: #474747;
}

a:hover, a:focus {
	text-decoration: none;
}

#c1, #c2, #c3 {
	z-index: -100;
	position: fixed;
}

#c1 {
	width: 220px;
	top: 50px;
	opacity: 0.7;
}

#c2 {
	width: 180px;
	top: 200px;
	right: 50px;
	opacity: 0.8;
}

#c3 {
	width: 150px;
	top: 400px;
	left: 100px;
}

#c4 {
	opacity: 0.7;
}

#intro {
	text-align: center;
}

#name {
	font-size: 8vw;
	font-family: 'Sacramento', cursive;	
	color: #04A1D6;
	position: relative;
	top: 15vh;
}

#crane {
	width: 45%;
}

.hi {
	font-size: 30px;
	/*margin-top: 20px;*/
}

#about-text {
	margin-bottom: 20px;
}

#about-me {
	border-radius: 50%;
	background-color: #474747;
	width: 150px;
	margin-bottom: 20px;
}

#work {
	margin-top: 50px;
	text-align: center;
}

.enjoy {
	font-family: 'Sacramento', cursive;	
	font-size: 70px;
	color: #fff;
	margin-bottom: 20px;
}

#crane {
	width: 100px;
	margin-top: 60px;
}

#thumbnails {
	margin-bottom: 40px;
}

#thumbnails li {
	display: inline;
	list-style: none;
	margin: 0 20px 0 20px;
}

#contact {
	background-color: #474747;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	text-align: center;
}

#contact table, .about-me {
	width: 50%;
	margin-right: auto;
	margin-left: auto;	
}

#info p {
	margin-bottom: 0;
	margin-top: 10px;
}

.connect {
	width: 30px;
	border-radius: 10%;
	opacity: 0.95;
	/*margin-top: 13px;*/
}

@media screen and (min-width: 760px) and (min-device-width : 760px) {
    #intro {
    	height: 100vh;
    }

    #about {
		transform: translate(0, 20vh);
	}
}

@media screen and (max-width: 760px) and (max-device-width : 760px) {
	#intro {
    	height: 100vh;
    }

    #name {
		display: none;
	}
}