<style type="text/css">
  #empty {
    height: 50px;
  }

  .heading, #current_prj {
    color: #C28FE0;
  }

  .highlight {
    color: #B761E3;
  }

  #current_prj:hover {
    color: #B761E3;
  }
</style>

<script src="js/main.js" type="text/javascript"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="main" style="color: #fff">YL</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a class="dropdown-toggle" id="current_prj" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="gotoElement('top')">Ambient <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><a ui-sref="projects.autelrobotics">Working @ Autel Robotics</a></li> -->
            <li><a ui-sref="projects.aqua">Aqua Music Player</a></li>
            <li><a ui-sref="projects.doki">Doki·Doki</a></li>
            <li><a ui-sref="projects.surf">Surf Brand Redesign</a></li>
            <hr>
            <li><a ui-sref="projects.echo">How-To Helper</a></li>
            <li><a href="http://depts.washington.edu/korcuban/#/home" target="_blank">Korean Cubans History</a></li>
            <li><a ui-sref="projects.share">Share Web App</a></li>
            <li><a ui-sref="projects.infoviz">Seattleites' Travel Trend</a></li>
            <li><a ui-sref="projects.more">Fun Time</a></li>
          </ul>
        </li>

        <li class="anchor"><a ng-click="gotoElement('problem')">PROBLEM</a></li>
        <li class="anchor"><a ng-click="gotoElement('interview')">USER RESEARCH</a></li>
        <li class="anchor"><a ng-click="gotoElement('ideation')">IDEATION</a></li>
        <!-- <li class="anchor"><a ng-click="gotoElement('sketch')">SKETCHES</a></li> -->
        <li class="anchor"><a ng-click="gotoElement('prototype')">PROTOTYPE</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="project_title">
  <p>Ambient</p><br />
  <p class="role">Individual Project | Rapid Prototyping | Interaction Design | UI Design</p>
  <p class="intro">It's a calendar + clock.
</div>

<h3 class="heading" id="problem">PROBLEM</h3>
<div class="project_content">
  <p>
    At the beginning of the year, I bought myself a planner. Then I consecutively received 2 desktop calendars and a wall calendar as gifts. Also, I have a calendar widget on my laptop and I sometimes use Apple’s calendar on my iphone, too. 
  </p>
  <p><img width="100%" src="templates/projects/ambient/calendars.jpg"></p>
  <p>
    It’s nice to have different forms of calendars because they allow me to access to date and plan quickly almost in any situation, but using them the same time can be inefficient and cause inconsistency.
  </p>
  <p class="highlight">
    Therefore, I wanted to design a calendar that is accessible in several situations and also consistent and efficient to use. 
  </p>
</div>

<h3 class="heading" id="interview">USER RESEARCH</h3>
<div class="project_content">
  <p>
    Initially I wanted to design for myself, but I wanted to learn about other people’s behaviors of checking calendar through interview, so that I could have a better understanding from different perspectives.
  </p>
  <p>
    From the interview I learned that:
  </p>
  <p><img width="100%" src="templates/projects/ambient/interview.png"></p>
  <p>
    According to the interviews, I generated a persona of a lady called Georgina.
  </p>
  <p><img width="100%" src="templates/projects/ambient/persona.png"></p>
  <p>
    Scenario: Georgina is making a phone call with a local kindergarten to schedule a tour. Over the phone, she is given some dates to choose from and she wants to know which day works for her. She walks to the calendar on the wall and easily finds the information she needs. After she confirms the date, she updates the event to the calendar.
  </p>  
</div>

<h3 class="heading" id="ideation">IDEATION</h3>
<div class="project_content">
  <p>
    After the interview, I decided to focus on the <span class="highlight">indoor usage</span> of a calendar and I summarized following design requirements:
  </p>
  <p><img width="100%" src="templates/projects/ambient/requirements.png"></p>
</div>

<!-- <h3 class="heading" id="sketch">SKETCHES</h3>
<div class="project_content">
  <p>
    After the interview, I decided to focus on the <span class="highlight">indoor usage</span> of a calendar and I summarized following design requirements:
  </p>
  <p><img width="100%" src="templates/projects/ambient/requirements.png"></p>
</div> -->

<h3 class="heading" id="prototype">PROTOTYPE</h3>
<div class="project_content">
  <div style="text-align: center;">
    <iframe src="https://player.vimeo.com/video/211255391" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>