<div class="prev_next up">
  <a ui-sref="main.projects.echo"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.bridge"><img src="img/right.png" width="60vw"></a>
</div>

<div class="banner aqua">
  <p class="h0">Aqua Music Player</p>
</div>

<section class="container-fluid overview">
  <div class="row">
    <div class="col-sm-12">
      <p>A music player that learns, remembers and visualizes users’ listening habits</p>
      <h4>Interaction & UI Design</h4>
    </div>
  </div>
</section>
<section class="container-fluid overview">
  <hr style="margin: 23px 0 26px 0">
  <div class="row">
    <div class="col-sm-4">
      <h4 class="d-t">Date</h4>
      <p>Jun 2015 - Jul 2015<br />8 Weeks</p>
    </div>
    <div class="col-sm-4">
      <h4 class="d-t">Role</h4>
      <p>Interaction Designer<br />User Interface Designer</p>
    </div>
    <div class="col-sm-4">
      <h4 class="d-t">Tools</h4>
      <img src="img/ai.png" width="45px" />
      <img src="img/ps.png" width="45px" />
      <img src="img/ae.png" width="45px" />
    </div>
  </div>
  <hr style="margin: 23px 0 40px 0;">
</section>

<section class="prj_content">
  <hr>
  <h3>Final Design Preview</h3>
  <div class="row">
    <div class="col-xs-6"><p>I created a feature screens overview using After Effects. Click on the image to view.</p></div>
    <a class="col-xs-6"><img data-toggle="modal" data-target="#aquaPreview" src="img/aqua.jpg" width="100%" alt="Aqua Music Player"></a>
  </div>
  <div class="modal fade" id="aquaPreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img width="100%" src="templates/projects/aqua/aqua.gif">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="prj_content">
  <h3>Problem</h3>
</section> -->

<section class="prj_content">
  <hr>
  <h3>Sketches</h3>
  <div class="row">
    <div class="col-xs-6"><p><b>Sketch #1</b><br />Music tree style brainstorms</p></div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/aqua/sketch1.jpg"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6"><p><b>Sketch #2</b><br />Tree growth</p></div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/aqua/sketch2.jpg"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row"> 
    <div class="col-xs-6"><p><b>Sketch #3</b><br />User flow & screen transitions</p></div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/aqua/sketch3.jpg"></div>
  </div>
</section>

<!-- <section class="prj_content">
  <hr>
  <h3>Wireframes</h3>
</section> -->

<section class="prj_content">
  <hr>
  <h3>Iterations</h3>
  <div class="row">
    <div class="col-xs-6"><p><b>Iteration #1</b><br /><!-- Music tree style brainstorms --></p></div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/aqua/planet.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6"><p><b>Iteration #2 & 3</b><br /><!-- Tree growth --></p></div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/aqua/tree.png"></div>
  </div>
</section>

<section class="prj_content">
  <hr>
  <h3>Final Design</h3>
  <div class="row">
    <div class="col-xs-6"><p><b>Selected final screens</b><br /><!-- Music tree style brainstorms --></p></div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/aqua/all3.png"></div>
  </div>
</section>

<!-- <section class="prj_content">
  <h3>What I learned</h3>
</section> -->

<div class="prev_next down">
  <a ui-sref="main.projects.echo"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.bridge"><img src="img/right.png" width="60vw"></a>
</div>