<div class="prev_next up">
  <img src="img/left.png" width="60vw" style="opacity: 0.3">
  <a ui-sref="main.projects.aqua"><img src="img/right.png" width="60vw"></a>
  &nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="main"><img src="img/exit.png" width="60vw"></a>
</div>

<div class="banner autel">
  <p class="h0">Autel Robotics</p>
</div>

<section class="container-fluid overview">
  <div class="row">
    <div class="col-sm-12">
      <p><b>UX Design internship</b></p>
    </div>
  </div>
</section>
<hr style="margin: 23px 0 26px 0">

<section class="container-fluid overview">
  <div class="row">
    <div class="col-sm-4">
      <p class="d-t"><b>Date</b></p>
      <p>Jun 2016 - Aug 2016<br />10 Weeks</p>
    </div>
    <div class="col-sm-4">
      <p class="d-t"><b>Role</b></p>
      <p>UX Designer<br />User Researcher</p>
    </div>
    <div class="col-sm-4">
      <p class="d-t"><b>Tools</b></p>
      <p>Pen & Paper<br />Axure</p>
    </div>
  </div>
</section>
<hr style="margin: 23px 0 40px 0;">

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <h2><span class="num">1. OUTCOME</span></h2>
      <br>
      <img style="margin-top: 5px;" width="100%" src="templates/projects/autel/final.png">
    </div>
  </div>
</section>

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span class="num">2. PROBLEM</span>
        <br><br>
        <i>The user manual is not comprehensive enough for the confusing setup process.</i>
      </h2>
      <br>
      <p class="prj_text">
        Setting up a drone is complicated, especially for people with no background. <span class="highlight">Although the product comes with a paper Quick Start Guide, it was hard to instruct the users clearly using only texts and static images</span>. The amount of time the assembling takes is a minus to the overall user experience for a user who is really excited and wants to fly as soon as possible. Our goal was to find out what makes the setup so long and make it easier and less painful.
      </p>
    </div>
  </div>
</section>

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span class="num">3. AUDIENCE</span>
        <br><br>
        <i>New users are taken cared of.</i>
      </h2>
      <br>
      <p class="prj_text">
        Autel Robotics wants to bring drones into people’s daily and professional lives as a great tool for entertainment and work. The users are <span class="highlight">not only the professional drone pilots</span>, but also the photographers, the hobbyists, the farmers, and the real estimate agencies -- <span class="highlight">people from various background and knowledge of drones</span>.
      </p>
    </div>
  </div>
</section>

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <h2><span class="num">4. DESIGN PROCESS</h2>
      <br>
      <p class="prj_text">
        <b>Iteration #1 & Usability Testing</b><br>
        This version of the design divides the setup into to four sections. Each section takes one screen and has three to four small steps shown in circles. When a circle is tapped, detail information pops up and each circle corresponds to each tag on the pop up window.
        <br><br>
        From the usability testing, we found that users were confused by the circles and the tags. They tended to tap on the first circle, go through all the tags, and then tap on the second circle instead of swiping to the next page.
      </p>
      <img style="margin-top: 5px;" width="100%" src="templates/projects/autel/ver1.png">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <p class="prj_text">
        <b>Iteration #2</b><br>
        In this version, circles and popup windows were removed, and each step was presented vertically. I suggested to make the screen vertical for the instructions because it was easier to hold the phone and scroll back and forth to read the contents.
        <br><br>
        However, it turned out that there was too much scroll for each step, which led to the third iteration.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img style="margin-top: 5px;" width="100%" src="templates/projects/autel/ver2.gif">
      <p class="prj_text">
        <b>Iteration 3</b><br>
      </p>
      <img style="margin-top: 5px;" width="100%" src="templates/projects/autel/ver3.png">
    </div>
  </div>
</section>

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <h2><span class="num">5. OTHER CONTRIBUTIONS</span></h2>
      <br>
      <p class="prj_text">
        <b>Auto Pilot Redesign Sketches</b><br>
        Although we worked mostly on the onboarding part, we always kept in mind that there were other parts of the app needed to be considered. The sketches on the left are my ideas of the app’s auto pilot feature. This smart feature allows the user to program the route of the drone, such as following, orbiting, and flying along waypoints.
      </p>
      <img style="margin-top: 5px;" width="100%" src="templates/projects/autel/auto.png">
      <br>
      <p class="prj_text">
        <b>App Settings Card Sorting</b><br>
        <i>Problem: How the settings could be better arranged?</i><br>
        The Starlink app allows users to make changes to the app system, the hardware, and camera. The same time the settings maximize the app’s customizability, they confuse the users. It’s not only because there is too much information under the setting button so that the users need a long time to find what they want, but also many settings are for advanced users only so that general users feel exhausted when reading those professional terms.
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <p class="prj_text">
        <i>Method: Let people create the settings the way they want.</i>
      </p>
      <img style="margin-top: 5px;" width="100%" src="templates/projects/autel/card.png">
    </div>
  </div>
</section>

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <h2><span class="num">6. RETROSPECTIVE</span></h2>
      <br><i></i>
      <p class="prj_text">
        <b>Constraints</b><br>
        The biggest constraint is the communication. Not being able to work side by side with other designers and the developers made the design process less efficient. We needed to work with a visual and interaction design team in China and a group of developers to produce the new generation of the app. We communicated through emails and had a weekly Skype meeting on every Tuesday. I was the only person who spoke mandarin and had design background, so besides working with Jasmine, I was in charge of the communication between the US and the China sides.
      </p>
    </div>
  </div>
</section>

<p style="text-align: center; color: #424242">·<br>END</p>
<div class="prev_next down">
  <img src="img/left.png" width="60vw" style="opacity: 0.3">
  <a ui-sref="main.projects.aqua"><img src="img/right.png" width="60vw"></a>
</div>