<div class="topnav">
  <div class="prev_next up nav_content">
    <a ui-sref="projects.echo"><img src="img/left.png" width="50"></a>
    <a ui-sref="projects.surf"><img src="img/right.png" width="50"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="main"><img src="img/exit.png" width="50"></a>
  </div>
</div>

<section class="banner" style="background-color: #ff8892">
  <div class="container-fluid prj_content">
    <div class="row">
      <div class="col-sm-4">
        <p class="h0">Building Bridges</p>
        <p>
          A mobile app that helps children with developmental disabilities identify and express emotions. 
          <br /><br />
          <i>(Click the play button to interact with the prototype)</i>
        </p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7" style="text-align: center;">
        <iframe src="https://marvelapp.com/1cd30c7?emb=1" width="300" height="501" allowTransparency="true" frameborder="0"></iframe>
      </div>
    </div>
    <div class="row"><div class="col-xs-12"><p class="date"><i>January 2016 - March 2016, Group of 3</i></p></div></div>
  </div>
</section>

<section class="prj_content">
  <p class="end">- END -</p>
  <div class="prev_next down">
    <a ui-sref="projects.echo"><img src="img/left.png" width="50"></a>
    <a ui-sref="projects.surf"><img src="img/right.png" width="50"></a>
  </div>
  <br /><hr>
</section>