<style type="text/css">
  #empty {
    height: 50px;
  }

  .heading, #current_prj {
    color: #ef7777;
  }

  .highlight, #current_prj:hover {
    color: #F24A4A;
  }
</style>

<script src="js/main.js" type="text/javascript"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="main" style="color: #fff">YL</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a class="dropdown-toggle" id="current_prj" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="gotoElement('top')">Doki·Doki <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><a ui-sref="projects.autelrobotics">Working @ Autel Robotics</a></li> -->
            <li><a href="https://drive.google.com/file/d/0B93V9lskuMwDd2xSeGRWbUcyNlk/view?usp=sharing" target="_blank">WA Miles (Capstone Project)</a></li>
            <li><a ui-sref="projects.aqua">Aqua Music Player</a></li>
            <li><a ui-sref="projects.ambient">Ambient</a></li>
            <li><a ui-sref="projects.surf">Surf Brand Redesign</a></li>
            <hr>
            <li><a ui-sref="projects.echo">How-To Helper</a></li>
            <li><a href="http://depts.washington.edu/korcuban/#/home" target="_blank">Korean Cubans History</a></li>
            <li><a ui-sref="projects.share">Share Web App</a></li>
            <li><a ui-sref="projects.infoviz">Seattleites' Travel Trend</a></li>
            <li><a ui-sref="projects.more">Fun Time</a></li>
          </ul>
        </li>

        <li class="anchor"><a ng-click="gotoElement('challenge')">CHALLENGE</a></li>
        <li class="anchor"><a ng-click="gotoElement('solution')">SOLUTION</a></li>
        <li class="anchor"><a ng-click="gotoElement('initial')">INITIAL RESEARCH</a></li>
        <li class="anchor"><a ng-click="gotoElement('research')">USER RESEARCH</a></li>
        <li class="anchor"><a ng-click="gotoElement('ideation')">IDEATION</a></li>
        <li class="anchor"><a ng-click="gotoElement('low-fi')">DESIGN & PROTOTYPE</a></li>
        <li class="anchor"><a ng-click="gotoElement('final')">REFINE & FINAL DESIGN</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="project_title">
  <p>Doki·Doki</p>
  <p class="role">My Contribution: Wireframe | Prototype | UI Design | Visual Design</p>
</div>

<h3 class="heading bg" id="challenge">CHALLENGE</h3>
<div class="project_content">
  <p>Our group were given a challenge to design a heart health monitor that can</p>
  <ol>
    <li>
      Measure and track pulse dynamics and other physiological states
    </li>
    <li>
      Display several key parameters of heart health
    </li>
    <li>
      Recommend nutrition, stress and exercise options to improve health
    </li>
  </ol>
</div>

<h3 class="heading bg" id="solution">OUR SOLUTION</h3>
<div class="project_content">
  <p>
    A wearable paired with a mobile app that tracks daily heart health and prevents heart disease due to unhealthy lifestyle in the long run.
  </p>
</div>

<h3 class="heading bg" id="initial">INITIAL RESEARCH</h3>
<div class="project_content">
  <p>
    Speaking of heart health monitor, the first thing that came into my mind was a device designed specifically for heart disease patients.
  </p>
  <p>
    However, instead of focusing on a medical solution, we wanted to raise heart health awareness among a larger population.
  </p>
  <p>
    Our initial research showed that there were three problems that could cause heart disease due to unstable blood pressure.
  </p>
  <p><img width="100%" src="templates/projects/doki/cause.png"></p>
  <p>
    Fortunately, these problems are totally correctable, which were great entry points for us to solve the problem.
  </p>
</div>

<h3 class="heading bg" id="users">TARGETED USERS</h3>
<div class="project_content">
  <p>
    The targeted users are students and working professionals who spend most of their time studying and working and are likely to neglect to live a healthy lifestyle.
  </p>
</div>

<h3 class="heading bg" id="research">USER RESEARCH</h3>
<div class="project_content">
  <p>
    We conducted user research to understand lifestyles of our targeted users, their concerns about their health, and current technology they use to track health. Based on our findings, we created a persona.
  </p>
  <p><img width="100%" src="templates/projects/doki/persona.png"></p>
  <p>
    From the survey, we also learned that wearable could be a good option.
  </p>
  <p><img width="100%" src="templates/projects/doki/survey.png"></p>
</div>

<h3 class="heading bg" id="ideation">IDEATION</h3>
<div class="project_content">
  <p>
    We decided to move forward with a wearable, since compared with the heart health monitor on the market, a wearable is portable, provides real-time information, easy to understand, and affordable.
  </p>
  <p>
    The idea is a wearable paired with smart phone app. The wearable is used mainly for gathering data from user and the app is used for data interpretation, notifications and detailed information. 
  </p>
  <p>
    I also thought of using gradient outer ring on the wearable to indicate general health condition for long term motivation because lifestyle change is a slow process.
  </p>
</div>

<h3 class="heading bg" id="low-fi">DESIGN & PROTOTYPE</h3>
<div class="project_content">
  <p>
    During design, we had a discussion over the initial app structure, since I found there should be stronger connection between the health profile page and the visualization of health condition. Later, a new version with the visualization being the subscreen was created.
  </p>
  <p><img width="100%" src="templates/projects/doki/map.png"></p>
  <p><img width="100%" src="templates/projects/doki/prototype.png"></p>
  <p>
    We recruited 5 participants for our usability testing. The purpose was to find any problem with the user flow and information display. 
  </p>
  <p>
    <span class="highlight">Key finding 1: </span>Participants didn’t interpret “doctor” icon as send health profile to a doctor. They thought that was for consulting.
  </p>
  <p>
    <span class="highlight">Key finding 2: </span>Participants didn’t realize the recommendations were swipeable and there were three kinds of recommendations in total.
  </p>
</div>

<h3 class="heading bg" id="final">REFINE & FINAL DESIGN</h3>
<div class="project_content">
  <p>Logo Iterations</p>
  <p><img width="100%" src="templates/projects/doki/logo.png"></p>
  <p>High Fidelity</p>
  <p><img width="100%" src="templates/projects/doki/hi-fi.png"></p>  
<!--   <div id="empty" style="text-align: center;">
    <iframe width="438" height="930" src="//invis.io/7V9JYVXH6" frameborder="0" allowfullscreen></iframe>
  </div> -->
</div>