<div class="topnav">
  <div class="prev_next up nav_content">
    <a ui-sref="projects.aqua"><img src="img/left.png" width="50"></a>
    <a ui-sref="projects.surf"><img src="img/right.png" width="50"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="main"><img src="img/exit.png" width="50"></a>
  </div>
</div>

<section class="banner" style="background: #30C8C8; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#30C8C8, #04344E); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#30C8C8, #04344E); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#30C8C8, #04344E); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#30C8C8, #04344E); /* Standard syntax */">
  <div class="container-fluid prj_content">
    <div class="row">
      <div class="col-sm-4">
        <p class="h0">How-To Helper</p>
        <p>
          How-To-Helper is a voice tutorial that “guides you through everything”.
        </p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7" style="text-align: center;">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/mWIl6DYVQ-E" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row"><div class="col-xs-12"><p class="date"><i>June 2016 - August 2016, Group of 2</i></p></div></div>
  </div>
</section>

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <p class="prj_text">
        In summer 2016, the same time I was having an internship, I attended a research class at UW,  exploring the opportunities of VUI. At the end of the class, my partner and I built a prototype for our Amazon Echo skill.
      </p>
    </div>
  </div>
  <hr>
</section>

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span class="num">ideation </span>
      </h2>
      <div class="prj_text">
        <p>
          I started with comparing VUI and GUI, and I found the one of the biggest advantages of voice interaction is that the user’s hands are free from the device, which breaks some limitations of current GUI interactions. Therefore, I decided to think about what experience could be improved by freeing both hands. At that time, I was doing the usability testing of my internship project, which is a mobile solution that guides user through complex setup process for the drone. I noticed that during the setup process the participants have to switch their attentions between both the cell phone and the drone and pick up and put down their phones multiple times. Having a voice instruction can make the user focus mainly on the drone and be more efficient.
        </p>
        <p>
          My partner at first wanted to make a voice tutorial for bike fixing, so we decided to form a group and make an Alexa skill that provides general tutorials. 
        </p>
      </div>
    </div>
  </div>
  <!-- <hr> -->
</section>

<section class="prj_content">
  <div class="prev_next down">
    <a ui-sref="projects.aqua"><img src="img/left.png" width="50"></a>
    <a ui-sref="projects.bridge"><img src="img/right.png" width="50"></a>
  </div>
  <br /><hr>
</section>