<div class="prev_next up">
  <a ui-sref="main.projects.aqua"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.bridge"><img src="img/right.png" width="60vw"></a>
  &nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="main"><img src="img/exit.png" width="60vw"></a>
</div>

<div class="banner echo">
  <p class="h0">How-to Helper</p>
</div>

<section class="container-fluid overview">
  <div class="row">
    <div class="col-sm-12">
      <p>Audio tutorial for everything on wikiHow</p>
      <h4>VUI Design & Prototype</h4>
    </div>
  </div>
  <hr style="margin: 23px 0 26px 0">
  <div class="row">
    <div class="col-sm-4">
      <h4 class="d-t">Date</h4>
      <p>Jun 2016 - Aug 2016<br />8 Weeks</p>
    </div>
    <div class="col-sm-4">
      <h4 class="d-t">Role</h4>
      <p>Developer</p>
    </div>
    <div class="col-sm-4">
      <h4 class="d-t">Tools</h4>
      <p>Javascript<br />AWS Lambda Function</p>
    </div>
  </div>
</section>
<hr style="margin: 23px 0 40px 0;">
coming soon

<div class="prev_next down">
  <a ui-sref="main.projects.aqua"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.bridge"><img src="img/right.png" width="60vw"></a>
</div>