<div class="topnav">
  <div class="prev_next up nav_content">
    <a ui-sref="projects.share"><img src="img/left.png" width="50"></a>
    <img src="img/right.png" width="50" style="opacity: 0.3">
    &nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="main"><img src="img/exit.png" width="50"></a>
  </div>
</div>

<section class="banner" style="background-color: #b57646;">
  <div class="container-fluid prj_content">
    <div class="row">
      <div class="col-sm-4">
        <p class="h0">Korean Cubans Photo Collection</p>
        <p>UW East Asia Library has a group of people conducting research on Korean Cubans history. As I was working for the library, I created this website to showcase the photo collection of many memorable moments and other research results.</p>
        <br />
        <p style="text-align: center; text-decoration: underline;"><a href="http://depts.washington.edu/korcuban/#/main.projects" target="_blank">Vist Website</a></p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <img style="margin-top: 5px;" width="100%" src="img/kc.png">
      </div>
    </div>
    <div class="row"><div class="col-xs-12"><p class="date"><i>January 2016 - March 2016</i></p></div></div>
  </div>
</section>

<section class="prj_content">
  <div class="prev_next down">
    <a ui-sref="projects.share"><img src="img/left.png" width="50"></a>
    <img src="img/right.png" width="50" style="opacity: 0.3">
  </div>
  <br /><hr>
</section>