<div class="prev_next up">
  <a ui-sref="main.projects.share"><img src="img/left.png" width="60vw"></a>
  <img src="img/right.png" width="60vw" style="opacity: 0.3">
</div>

<div class="banner kc">
  <p class="h0">Korean Cubans Photos</p>
</div>

<section class="container-fluid overview">
  <div class="row">
    <div class="col-sm-12">
      <h4>Web Design & Development</h4>
      <p>UW East Asia Library has a group of people conducting research on Korean Cubans history. As I was working for the library, I created this website to showcase the photo collection of many memorable moments and other research results.</p>
    </div>
  </div>
  <br />
  <div><a id="kc_link" href="http://depts.washington.edu/korcuban/#/main.projects" target="_blank">vist</a></div>
</section>

<div class="prev_next down">
  <a ui-sref="main.projects.share"><img src="img/left.png" width="60vw"></a>
  <img src="img/right.png" width="60vw" style="opacity: 0.3">
</div>