<div class="prev_next up">
  <a ui-sref="main.projects.surf"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.kc"><img src="img/right.png" width="60vw"></a>
</div>

<div class="banner share">
  <p class="h0">Share</p>
</div>

<section class="container-fluid overview">
  <div class="row">
    <div class="col-sm-12">
      <p>A web application allows users to make posts and chat with people nearby.</p>
      <h4>Web Development</h4>
    </div>
  </div>
  <hr style="margin: 23px 0 26px 0">
  <div class="row">
    <div class="col-sm-4">
      <h4 class="d-t">Date</h4>
      <p>Nov 2015 - Dec 2015<br />3 Weeks</p>
    </div>
    <div class="col-sm-4">
      <h4 class="d-t">Contribution</h4>
      <p>Front-end Development</p>
    </div>
    <div class="col-sm-4">
      <h4 class="d-t">Tools</h4>
      Google App Engine
    </div>
  </div>
</section>
<hr style="margin: 23px 0 53px 0;">

<section class="prj_content">
  <hr>
  <h3>Demonstration</h3>
  <div style="text-align: center;"><iframe width="640" height="360" src="https://www.youtube.com/embed/Soy12jQGwE4" frameborder="0" allowfullscreen></iframe></div>
</section>

<section class="prj_content">
  <hr>
  <h3>Problem</h3>
  <div class="row">
    <div class="col-xs-5">
      <p>
        Imagine you are writing a paper that is due in one hour on your laptop in the library, and suddenly, you realize your laptop has only 10% battery. You look around and find out that you are the only person in the room using a Macbook……
      </p>
    </div>
    <div class="col-xs-7"><img width="100%" src="templates/projects/share/storyboard.jpg"></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <p style="margin-bottom: 0">
        People tend to turn to their friends when they are in trouble even if their friends are not nearby. Although mobile phones can let them contact their friends immediately, their problems might not be able to wait until their friends show up. Therefore, in many cases, they have to turn to strangers, but it is not very effective and efficient for them to ask for help one by one. It would be great if there is an application that is designed for people to help strangers.
      </p>
    </div>
  </div>
</section>

<section class="prj_content">
  <hr>
  <h3>Wireframes</h3>
  <div class="row">
    <div class="col-xs-5">
      <p><b>Homepage</b><br>I used Ajax to allow the website display latest posts without refreshing.</p>
    </div>
    <div class="col-xs-7"><img width="100%" src="templates/projects/share/mockup.png"></div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <p><b>Form</b><br>Users can post their requests.</p>
    </div>
    <div class="col-xs-7"><img width="100%" src="templates/projects/share/mockup2.png"></div>
  </div>
</section>

<div class="prev_next down">
  <a ui-sref="main.projects.surf"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.kc"><img src="img/right.png" width="60vw"></a>
</div>