<div class="prev_next up">
  <a ui-sref="main.projects.surf"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.kc"><img src="img/right.png" width="60vw"></a>
</div>

<div class="banner share">
  <p class="h0">Share</p>
</div>

coming soon
<!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/Soy12jQGwE4" frameborder="0" allowfullscreen></iframe> -->

<div class="prev_next down">
  <a ui-sref="main.projects.surf"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.kc"><img src="img/right.png" width="60vw"></a>
</div>