<div class="topnav">
  <div class="prev_next up nav_content">
    <a ui-sref="projects.echo"><img src="img/left.png" width="50"></a>
    <a ui-sref="projects.share"><img src="img/right.png" width="50"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="main"><img src="img/exit.png" width="50"></a>
  </div>
</div>

<section class="banner" style="background-color: #313131;">
  <div class="container-fluid prj_content">
    <div class="row">
      <div class="col-sm-4">
        <p class="h0">Surf Incubator Redesign</p>
        <p>I recreated a visual system for Surf Incubator. It includes brand identity, web pages, and mobile app.</p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <img style="margin-top: 5px; margin-bottom: 30px" width="100%" src="img/surf.jpg">
      </div>
    </div>
    <div class="row"><div class="col-xs-12"><p class="date"><i>November 2015 - December 2015, Individual Project</i></p></div></div>
  </div>
</section>

<section class="prj_content">
  <p style="text-align: center;"><img style="margin-top: 5px;" width="70%" src="templates/projects/surf/final.png"></p><br />
  <hr>
</section>

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span class="num">brand identity</span>
      </h2>
      <br />
      <div class="prj_text">
        <p>
          Surf Incubator is a company that helps technology startups grow and develop by providing an affordable and professional environment. I identified Surf’s brand attributes as <span class="highlight">technological and credible</span>, which came from its target (technology startups) and its missions (being supportive).
        </p>
        <br />
        <p><span class="num2">// Logo Ideation //</span></p>
        <p><img style="margin-top: 5px;" width="100%" src="templates/projects/surf/logo_sketch.png"></p>
        <br />
        <p><span class="num2">// Logo Iterations //</span></p>
        <p><img style="margin-top: 5px;" width="100%" src="templates/projects/surf/logo_iterations.png"></p>
      </div>
    </div>
  </div>
  <hr>
</section>

<section class="prj_content">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span class="num">website redesign</span>
      </h2>
      <br />
      <p>I redesigned the homepage and room reservation page (above the fold). </p>
      <br />
      <div class="prj_text">
        <p><span class="num2">// Home Page //</span></p>
        <p>
          The most possible users of a company’s homepage are its potential clients. The goal of visiting the homepage is to get important information about Surf, including what it does, what it looks like, and its service. Based on those information, the user determines whether or not to join Surf. Therefore, I made several changes to make the information delivered more effectively.
        </p>
        <p>
          I made three major changes to the original homepage:
        </p>
        <p><img style="margin-top: 5px;" width="100%" src="templates/projects/surf/web-landing.png"></p>
        <br />
        <ul>
          <li>
            <p>Change 1: highlighted “Join” button</p>
            <p>
              I moved the “Join” button to the very right and changed its background color to distinguish it from other links so that it is very easy to notice, which fulfill one of Surf’s mission: having people join it. Its button-liked look creates a feeling that the register process would be simple and fast.
            </p>
          </li>
          <li>
            <p>Change 2: categorized contents</p>
            <p>
              On the original homepage, all the information was listed in bullet points and is mixed with different types of services Surf can provide. Audience may find the information too much and not be willing to read carefully. Therefore, I divided them into several categories and put the texts together with corresponding images to make the information impressive and easy to read.
            </p>
          </li>
          <li>
            <p>Change 3: added membership information</p>
            <p>
              After organizing the bullet points, there was extra space for me to put information. Since the goal was to let visitors know more about the company, I decided to add the membership information, which I found on the other page.
            </p>
          </li>
        </ul>
        <br />
        <p><span class="num2">// Room Reservation Page //</span></p>
        <p style="text-align: center;"><img style="margin-top: 5px;" width="70%" src="templates/projects/surf/s7.jpg"></p>
        <p>
          People who want to reserve a room will visit this page. In order to book a page, they need to know different types rooms available,  what they look like and if they meet their requirements.
        </p>
        <p>I also made three main changes to this page:</p>
        <p><img style="margin-top: 5px;" width="100%" src="templates/projects/surf/web-sub.png"></p>
        <br />
        <ul>
          <li>
            <p>Change 1: horizontal drop down menu</p>
            <p>
              Under “events” there are three services, using horizontal navigation with current page highlighted makes it easier to switch between services and browse.
            </p>
          </li>
          <li>
            <p>Change 2: categorized room types</p>
            <p>
              Instead of putting all information together, I divided the information into groups so that users with different room requirements can find information more easily. This also helps improve content hierarchy.
            </p>
          </li>
          <li>
            <p>Change 3: add “book room” to the top</p>
            <p>
              This option is only at the bottom on the official page. I added it above the folder for the convenience of those who are familiar with the rooms and want to book one quickly.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</section>

<section class="prj_content">
  <br />
  <p class="end">- END -</p>
  <div class="prev_next down">
    <a ui-sref="projects.bridge"><img src="img/left.png" width="50"></a>
    <a ui-sref="projects.share"><img src="img/right.png" width="50"></a>
  </div>
  <br /><hr>
</section>