<div class="prev_next up">
  <a ui-sref="main.projects.bridge"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.share"><img src="img/right.png" width="60vw"></a>
</div>

<div class="banner surf">
  <p class="h0">Surf Incubator</p>
</div>

<section class="container-fluid overview">
  <div class="row">
    <div class="col-sm-12">
      <p>Individual design practice: visual system for Surf Incubator, including brand identity, color palette, and UI design</p>
      <h4>Visual Communication Design</h4>
    </div>
  </div>
  <hr style="margin: 23px 0 26px 0">
  <div class="row">
    <div class="col-sm-4">
      <h4 class="d-t">Date</h4>
      <p>Nov 2015 - Dec 2015<br />4 Weeks</p>
    </div>
    <div class="col-sm-4">
      <h4 class="d-t">Contribution</h4>
      <p>Brand Identity<br />Visual System</p>
    </div>
    <div class="col-sm-4">
      <h4 class="d-t">Tools</h4>
      <img src="img/ai.png" width="45px" />
      <img src="img/ps.png" width="45px" />
    </div>
  </div>
</section>
<hr style="margin: 23px 0 40px 0;">

<section class="prj_content">
  <hr>
  <h3>Final Design Preview</h3>
  <div class="row">
    <div class="col-xs-6"><p>Click on the image to view.</p></div>
    <a class="col-xs-6"><img data-toggle="modal" data-target="#surfPreview" src="templates/projects/surf/surf_sm.jpg" width="100%" alt="Aqua Music Player"></a>
  </div>
  <div class="modal fade" id="surfPreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img width="100%" src="templates/projects/surf/surf.jpg">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="prj_content">
  <hr>
  <h3>Brand Identity</h3>
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        Surf Incubator is a company that helps technology startups grow and develop by providing an affordable and professional environment. I identified Surf’s brand attributes as technological and credible, which came from its target (technology startups) and its missions (being supportive).
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/logo.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p>
        <b>Logo Sketches</b>
      </p>
    </div>
    <div class="col-xs-6" style="padding-right: 0"><img width="100%" src="templates/projects/surf/logo_sketch.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p>
        <b>Logo Iterations</b>
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/logo_iterations.png"></div>
  </div>
</section>

<section class="prj_content">
  <hr>
  <h3>Style Guide</h3>
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/s3.jpg"></div>
  </div>
</section>

<section class="prj_content">
  <hr>
  <h3>Print</h3>
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/s5.jpg"></div>
  </div>
</section>

<section class="prj_content">
  <hr>
  <h3>Web Redesign #1: Homepage</h3>
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        The most possible users of a company’s homepage are its potential clients. The goal of visiting the homepage is to get important information about Surf, including what it does, what it looks like, and its service. Based on those information, the user determines whether or not to join Surf. Therefore, I made several changes to make the information delivered more effectively.
      </p>
    </div>
    <div class="col-xs-6" style="padding-right: 0"><img width="100%" src="templates/projects/surf/s6.jpg"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p>
        I made three major changes to the original homepage.
      </p>
    </div>
    <div class="col-xs-6" style="padding-right: 0"><img width="100%" src="templates/projects/surf/web-landing.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        <b>Change #1</b><br>
        <b>Highlighted “Join” button</b><br />
        I moved the “Join” button to the very right and changed its background color to distinguish it from other links so that it is very easy to notice, which fulfill one of Surf’s mission: having people join it. Its button-liked look creates a feeling that the register process would be simple and fast.
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/web-landing1.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        <b>Change #2</b><br>
        <b>Categorized contents</b><br />
        On the original homepage, all the information was listed in bullet points and is mixed with different types of services Surf can provide. Audience may find the information too much and not be willing to read carefully. Therefore, I divided them into several categories and put the texts together with corresponding images to make the information impressive and easy to read.
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/web-landing2.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        <b>Change #3</b><br>
        <b>Added membership information</b><br />
        After organizing the bullet points, there was extra space for me to put information. Since the goal was to let visitors know more about the company, I decided to add the membership information, which I found on the other page.
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/web-landing3.png"></div>
  </div>
</section>

<section class="prj_content">
  <hr>
  <h3>Web Redesign #2: Room Reservation Page</h3>
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        People who want to reserve a room will visit this page. In order to book a room, they need to know different types rooms available,  what they look like and if they meet their requirements.
      </p>
    </div>
    <div class="col-xs-6" style="padding-right: 0"><img width="100%" src="templates/projects/surf/s7.jpg"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p>
        I also made three major changes to the room reservation page homepage.
      </p>
    </div>
    <div class="col-xs-6" style="padding-right: 0"><img width="100%" src="templates/projects/surf/web-sub.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        <b>Change #1</b><br>
        <b>Horizontal drop down menu</b><br />
        Under “events” there are three services, using horizontal navigation with current page highlighted makes it easier to switch between services and browse.
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/web-sub1.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        <b>Change #2</b><br>
        <b>Categorized room types</b><br />
        Instead of putting all information together, I divided the information into groups so that users with different room requirements can find information more easily. This also helps improve content hierarchy.
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/web-sub2.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        <b>Change #3</b><br>
        <b>Add “book room” to the top</b><br />
        This option is only at the bottom on the official page. I added it above the folder for the convenience of those who are familiar with the rooms and want to book one quickly.
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/web-sub3.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p>
        <b>Iteration #1</b>
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/web1.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p>
        <b>Iteration #2</b>
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/web2.png"></div>
  </div>
</section>

<section class="prj_content">
  <hr>
  <h3>Mobile App Design</h3>
  <div class="row">
    <div class="col-xs-6">
      <p class="prj_text">
        I also designed a mobile app for internal use. Employees of Surf’s clients can use the app to manage schedules and make reservations easily.
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/s8.jpg"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p>
        <b>Iteration #1</b>
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/mobile1.png"></div>
  </div>
  <hr style="background-color: #fff;">
  <div class="row">
    <div class="col-xs-6">
      <p>
        <b>Iteration #2</b>
      </p>
    </div>
    <div class="col-xs-6"><img width="100%" src="templates/projects/surf/mobile2.png"></div>
  </div>
</section>

<div class="prev_next down">
  <a ui-sref="main.projects.bridge"><img src="img/left.png" width="60vw"></a>
  <a ui-sref="main.projects.share"><img src="img/right.png" width="60vw"></a>
</div>