<div class="container-fluid">
  <h2 style="text-align: center; font-weight: 600;">Comic: Super Memory</h2><br>
  <p>This comic is inspired by Vannevar Bush's essay <a style="text-decoration: underline;" href="http://www.theatlantic.com/magazine/archive/1945/07/as-we-may-think/303881/" target="_blank">As We May Think.</a></p>
  <div class="row">
    <div ng-repeat="each in comic" class="col-xs-12 thumb"><img width=100% src="{{each}}"></div>
  </div>
  <br><hr width="200px"><br>
  <h2 style="text-align: center; font-weight: 600;">Digital Painting</h2><br>
  <div class="row">
    <div ng-repeat="each in painting" class="col-xs-4 thumb"><img width=100% src="{{each}}"></div>
  </div>
  <br><hr width="200px"><br>
  <h2 style="text-align: center; font-weight: 600;">Cooking</h2><br>
  <div class="row">
    <div ng-repeat="each in cook" class="col-xs-4 thumb"><img width=100% src="{{each}}"></div>
  </div>
</div>