body {
	background-color: #AFE8FF;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

#c1, #c2, #c3 {
	z-index: -100;
	position: fixed;
}

#c1 {
	width: 220px;
	top: 50px;
}

#c2 {
	width: 180px;
	top: 200px;
	right: 50px;
}

#c3 {
	width: 150px;
	top: 400px;
	left: 100px;
}

#nav {
	border: none;
	border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: none;
    height: 50px;
    box-shadow: 0px 0.1px 1px 1px #fff;
    background-color: rgba(255,255,255,0.8);
    padding-right: 30px;
}

#links {
    float: right;
    margin-top: 13px;
}

#links td {
    width: 130px;
    font-size: 16px;
    text-align: right;
}

#intro {
	height: 100vh;
}

#about {
	text-align: center;
}

#about-me {
	border-radius: 50%;
	background-color: #474747;
	width: 150px;
}

#work {
	text-align: center;
}

#aqua {
	width: 200px;
}

#surf {
	width: 200px;
}

footer {
	margin-top: 40px;
	background-color: #474747;
	height: 200px;
}

#contact {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	color: white;
}

#contact-me, #info {
	float: left;
}

#behance {
	width: 40px;
	border-radius: 10%;
	opacity: 0.85;
}