<style type="text/css">
  #empty {
    height: 50px;
  }

  .heading, #current_prj {
    color: #82baf2;
  }

  .highlight, #current_prj:hover {
    color: #44a1ff;
  }
</style>

<script src="js/main.js" type="text/javascript"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="main" style="color: #fff">YL</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a class="dropdown-toggle" id="current_prj" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="gotoElement('top')">How-To Helper <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><a ui-sref="projects.autelrobotics">Working @ Autel Robotics</a></li> -->
            <li><a ui-sref="projects.aqua">Aqua Music Player</a></li>
            <li><a ui-sref="projects.doki">Doki·Doki</a></li>
            <li><a ui-sref="projects.ambient">Ambient</a></li>
            <li><a ui-sref="projects.surf">Surf Brand Redesign</a></li>
            <hr>
            <li><a href="http://depts.washington.edu/korcuban/#/home" target="_blank">Korean Cubans History</a></li>
            <li><a ui-sref="projects.share">Share Web App</a></li>
            <li><a ui-sref="projects.infoviz">Seattleites' Travel Trend</a></li>
            <li><a ui-sref="projects.more">Fun Time</a></li>
          </ul>
        </li>

        <li class="anchor"><a ng-click="gotoElement('background')">BACKGROUND</a></li>
        <li class="anchor"><a ng-click="gotoElement('ideation')">IDEATION</a></li>
        <li class="anchor"><a ng-click="gotoElement('design')">DESIGN</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="project_title">
  <p>How-To Helper Amazon Echo Skill</p>
  <p class="role">Voice User Interface Design | Front-End Development</p>
</div>

<div class="project_content">
  <div style="text-align: center;">
    <iframe src="https://player.vimeo.com/video/211564965" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<h3 class="heading" id="background">BACKGROUND</h3>
<div class="project_content">
  <p>
    In summer 2016, I attended a research group exploring the opportunities of VUI. At the end of the class, my partner and I built a prototype for our Amazon Echo skill.
  </p>
</div>

<h3 class="heading" id="ideation">IDEATION</h3>
<div class="project_content">
  <p>
    Starting with comparing VUI and GUI I found that one of the advantages of voice interaction is that the user’s hands are free from the device, which breaks some limitations of current GUI interactions. So I started to think about what experience could be improved by freeing both hands. At that time, I was doing the usability testing of my internship project, which is a mobile solution that guides user through complex setup process for the drone. I noticed that during the setup process the participants have to switch their attentions back and forth between the cell phone and the drone and pick up and put down their phones multiple times. Having a voice instruction can make the user focus more on the drone and be more efficient.
  </p>
  <p>
    My partner at first wanted to make a voice tutorial for bike fixing, so we decided to form a group and make an Alexa skill that provides general tutorials.
  </p>
</div>

<h3 class="heading" id="design">DESIGN</h3>
<div class="project_content">
  <p>
    The design of VUI doesn’t involve physical interfaces, so the user flow becomes extremely important. We used Agile development and each sprint was one-week long. We started with the overall user flow from searching to ending a tutorial. Then every week, we designed and implemented one or two interactions each depending on the complexity. I mostly focused on the interactions on a specific tutorial, and by the time the class ended, the interactions included jumping between steps, pause, repeat, and exit half-way.
  </p>
  <p><img width="100%" src="templates/punch/echo/design.png"></p>
</div>