<style type="text/css">
  #empty {
    height: 50px;
  }

  .heading, #current_prj {
    color: #bc66ff;
  }

  .highlight, #current_prj:hover {
    color: #9f23ff;
  }
</style>

<script src="js/main.js" type="text/javascript"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="main" style="color: #fff">YL</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a class="dropdown-toggle" id="current_prj" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="gotoElement('top')">Fun Time <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><a ui-sref="projects.autelrobotics">Working @ Autel Robotics</a></li> -->
            <li><a href="https://drive.google.com/file/d/0B93V9lskuMwDd2xSeGRWbUcyNlk/view?usp=sharing" target="_blank">WA Miles (Capstone Project)</a></li>
            <li><a ui-sref="projects.aqua">Aqua Music Player</a></li>
            <li><a ui-sref="projects.doki">Doki·Doki</a></li>
            <li><a ui-sref="projects.ambient">Ambient</a></li>
            <li><a ui-sref="projects.surf">Surf Brand Redesign</a></li>
            <hr>
            <li><a ui-sref="projects.echo">How-To Helper</a></li>
            <li><a href="http://depts.washington.edu/korcuban/#/home" target="_blank">Korean Cubans History</a></li>
            <li><a ui-sref="projects.share">Share Web App</a></li>
            <li><a ui-sref="projects.infoviz">Seattleites' Travel Trend</a></li>
          </ul>
        </li>

        <li class="anchor"><a ng-click="gotoElement('COMIC')">COMIC</a></li>
        <li class="anchor"><a ng-click="gotoElement('ILLUSTRATIONS')">ILLUSTRATIONS</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="project_title">
  <p class="role">Sketching and illustration skills are very important to a designer, so I often do some pratice when I have time.</p>
</div>

<h3 class="heading" id="COMIC">COMIC - Super Memory</h3>
<div class="project_content">
  <p><img width="100%" src="templates/punch/more/p1.jpg"></p>
  <p><img width="100%" src="templates/punch/more/p2.jpg"></p>
  <p><img width="100%" src="templates/punch/more/p3.jpg"></p>
  <p><img width="100%" src="templates/punch/more/p4.jpg"></p>
</div>

<h3 class="heading" id="ILLUSTRATIONS">ILLUSTRATIONS</h3>
<div class="project_content">
  <p><img width="50%" src="templates/punch/more/me.png"><img width="50%" src="templates/punch/more/a.jpg"></p>
  <p><img width="50%" src="templates/punch/more/b.jpg"><img width="50%" src="templates/punch/more/c.jpg"></p>
  <p><img width="50%" src="templates/punch/more/d.jpg"></p>
</div>