<div ui-view class="content">
  <div class="about_content">
    <h3>About Me</h3>
    <p>
      I’m Yeqing Lou (<i class="fa fa-volume-up" aria-hidden="true"></i> : YE-ching LOH). I'm pursuing B.S. degree in Human Centered Design & Engineering in the University of Washington. I love design in general and I’m particularly interested in user experience, interaction, and visual design. I also have experience in web design and development. 
    </p>
    <p>
      When I’m not working, I like to browse different websites, exploring cool design ideas and new technologies. I really enjoy seeing how the projects on the Kickstarter adapt technologies into their design. In my spare time, I often cook, draw, and learn to play music. I also like to travel, to feel the nature and learn about different cultures.
    </p>
    <p>
      My name in Chinese means never giving up. It’s the best wish my parents gave me and also the spirit that keeps me company and makes me strong. 
    </p>

    <h3>T-Shaped Skills</h3>
    <div class="card-container">
      <div class="flipout">
        <div class="foc-main">
          <img src="img/mypic.png" width="100%" alt="Me">
        </div>
        <div class="foc-left">
          <p style="text-align: left;">&nbsp;Visual</p>
          <small style="text-align: left;">ching</small>
          <small style="text-align: left;">mposition</small>
          <small style="text-align: left;">ting</small>
          <small style="text-align: left;">ration</small>
        </div>
        <div class="foc-left">
          <p style="text-align: right;">Art &</p>
          <small style="text-align: right;">Sket</small>
          <small style="text-align: right;">Visual Co</small>
          <small style="text-align: right;">Pain</small>
          <small style="text-align: right;">Illust</small>
        </div>
        <div class="foc-right">
          <p style="text-align: right;">Develo</p>
          <small style="text-align: right;">HT</small>
          <small style="text-align: right;">Java</small>
          <small style="text-align: right;">Pyt</small>
          <small style="text-align: right;">Ja</small>
        </div>
        <div class="foc-right">
          <p style="text-align: left;">pment</p>
          <small style="text-align: left;">ML</small>
          <small style="text-align: left;">script</small>
          <small style="text-align: left;">hon</small>
          <small style="text-align: left;">va</small>
        </div>
        <div class="foc-bottom">
          <p>UX</p>
          <small>User Research</small>
          <small>Problem Solving</small>
          <small>Infomation Architecture</small>
          <small>Wireframes</small>
          <small>Prototype</small>
        </div>
      </div>
    </div>
    <h3>Contact</h3>
    <p>
      City: Seattle, WA<br>
      Mobile: 206 310 0013<br>
      E-mail: yeqing9928@gmail.com<br>
      <a href="https://www.linkedin.com/in/yeqinglou"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </p>
  </div>
  
<!--   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <img src="img/t-shape-1.png" width="450px" alt="T-Shaped">
      </div>
      <div class="back">
        <img src="img/t-shape-2.png" width="450px" alt="T-Shaped">
      </div>
    </div>
  </div> -->

  <script type="text/javascript">
      $(".flipout").flipout_cards({
      animation: "flipOut",           // Animations available are: flipOut, slideOut and foldOut. The default value is flipOut
      beforeOpen: function () {},     // This option accepts a callback function. The function will be called before the flip open animation starts.
      afterOpen: function () {},      // This option accepts a callback function. The function will be called after the flip open animation finishes.
      beforeClose: function () {},    // This option accepts a callback function. The function will be called before the flip close animation starts.
      afterClose: function () {}      // This option accepts a callback function. The function will be called after the flip close animation finishes.
    });
  </script>
</div>
