<div id="about">
  <div class="row">
    <div class="col-md-4">
      <p class="title">me</p>
      <br />
      <p><img width="50%" src="img/me.png"></p>
      <p>
        I'm Yeqing Lou (<i class="fa fa-volume-up" aria-hidden="true"></i> : ye-ching loh), a senior majoring in Human Centered Design &#38; Engineering at UW. I love design in general and I’m particularly interested in UX, interaction, and visual design. I also have experience in web design and development. In my <a ui-sref="main.hidden"><!-- <span class="underline"> -->spare time</span></a>, I like to cook, draw, and learn to play music. I speak some German and currently I’m learning Japanese. My name in Chinese means never giving up. It’s the best wish my parents gave me and also the spirit that keeps me company and makes me strong.
      </p> 
    </div>

    <div class="col-md-4">
      <br />
      <p class="title" style="color: transparent;">&nbsp;</p>
      <p>
        <a href="lyq-resume.pdf" target="_blank">+&nbsp;&nbsp;&nbsp;<span class="underline">View my resume</span></a>
      </p>
      <p>
        +&nbsp;&nbsp;&nbsp;yeqing9928@gmail.com
      </p>
      <p>
        +&nbsp;&nbsp;&nbsp;1.206.310.0013
      </p> 
    </div>

    <div class="col-md-4">
      <p class="title">.com</p>
      <br />
      <p>
        This website was created by me to show my web design & development skills. I used HTML, CSS, and Bootstrap grid system to build the basic structure and AngularJS to validate navigations. The next step is to make my website responsive and mobile friendly.
      </p>
      <br />
      <p class="title">heading - 24px</p>
      <p class="num">title - 16px</p>
      <p class="num2">Subtitle - 16px</p>
      <p>text - 15px</p>
      <br />
      <div class="col-xs-3 colorpalette" style="background-color: #ff7328"></div>
      <div class="col-xs-3 colorpalette" style="background-color: #ffcb9b"></div>
      <div class="col-xs-3 colorpalette" style="background-color: #fafafa"></div>
      <div class="col-xs-3 colorpalette" style="background-color: #4c4c4c"></div>
    </div>
  </div>
  </div>
</div>