<link href="./css/projects.css" type="text/css" rel="stylesheet" />

<div id="about2">
	<div><img id="about-me" src="img/me.svg"></div>
	<div id="about-text">
		<p>I am Yeqing Lou<br>UX Designer | Web Developer</p>
	</div>
</div>
<div id="main">
	<div class="title">
		<h2>AQUA Music Player</h2>
	</div>
	<ul>
		<li class="content">
			<div class="left">Summary</div>
			<div class="right">
				<p>
					Aqua is a music player with learning abilities. It aims to provide the best music by learning about its users listening habbits and styles.
				</p>
			</div>
		</li>
		<li class="content">
			<div class="left">Demo</div>
			<div class="right">
				<iframe width="480" height="270" src="https://www.youtube.com/embed/FdicXDKz8gI" frameborder="0" allowfullscreen></iframe>
				<p><a href="https://www.behance.net/gallery/32543933/Aqua-Music-Player">Demo on Behance</a></p>
			</div>
		</li>
		<!-- <li class="content">
			<div class="left">Process</div>
			<div class="right">
				
			</div>
		</li> -->
	</ul>
</div>