<link href="./css/projects.css" type="text/css" rel="stylesheet" />

<div id="about">
	<div><img id="about-me" src="img/me.svg"></div>
	<div id="about-text">
		<p>I am Yeqing Lou<br>UX Designer | Web Developer</p>
	</div>
</div>
<div id="main">
	<div class="title">
		<img id="aqua-logo" src="./img/aqua-logo.png">
		<h3>AQUA Music Player</h3>
	</div>
	<ul>
		<li class="content">
			<div class="left">Summary</div>
			<div class="right">
				<p>
					Aqua is a music player that learns about its users
				</p>
			</div>
		</li>
		<li class="content">
			<div class="left">Video Demo</div>
			<div class="right">
				<iframe width="480" height="270" src="https://www.youtube.com/embed/FdicXDKz8gI" frameborder="0" allowfullscreen></iframe>
			</div>
		</li>
	</ul>
</div>