<div ui-view>
	<div id="cloud">
		<img id="c1" src="img/cloud.svg">
		<img id="c2" src="img/cloud.svg">
		<img id="c3" src="img/cloud.svg">
	</div>       
<!-- 	<div id="nav">
		<table id='links'>
	    	<tr>
	    		<td><a id="goToAbout" href='#'>About</a></td>
	    		<td><a id="goToWork" href='#'>Works</a></td>
	    		<td><a id="goToContact" href='#'>Contact</a></td>
	            <td><a id="backToTop" href='#'>   Top</a></td>
	    	</tr>
	    </table>
	</div> -->
	<div id="intro">
		<p id="name">Yeqing Lou</p>
		<div id="about">
			<div><img id="about-me" src="img/me.svg"></div>	
			<div id="about-text">
				<p>I am Yeqing Lou<br>UX Designer | Web Developer<br>I &hearts; thinking. creating. cooking. and puppies.</p>
			</div>
		</div>
	</div>
	<div id="work">
		<img id="crane" src="img/crane.svg">
		<div id="enjoy"><hr width="60%">Enjoy!</div>
		<ul id="thumbnails">
			<li>
				<a ui-sref="home.projects.share"><img src="img/share.png" width="200px"></a>
			</li>
			<li>
				<a ui-sref="home.projects.surf"><img src="img/surf.png" width="200px"></a>
			</li>
			<li>
				<a ui-sref="home.projects.aqua"><img src="img/aqua.png" width="200px"></a>
			</li>
		</ul>
		<img id="c4" src="img/cloud.svg">
	</div>
</div>