<div ui-view>
	<div id="cloud">
		<img id="c1" src="img/cloud.svg">
		<img id="c2" src="img/cloud.svg">
		<img id="c3" src="img/cloud.svg">
	</div>       
<!-- 	<div id="nav">
		<table id='links'>
	    	<tr>
	    		<td><a id="goToAbout" href='#'>About</a></td>
	    		<td><a id="goToWork" href='#'>Works</a></td>
	    		<td><a id="goToContact" href='#'>Contact</a></td>
	            <td><a id="backToTop" href='#'>   Top</a></td>
	    	</tr>
	    </table>
	</div> -->
	<div id="intro">
		<p id="name">Yeqing Lou</p>
		<div id="about">
			<div><img id="about-me" src="img/me.svg"></div>	
			<div id="about-text">
				<p>I am Yeqing Lou<br>UX Designer | Web Developer<br>I &hearts; thinking. creating..</p>
			</div>
		</div>
	</div>
	<img id="crane" src="img/crane.svg">
	<div id="work">
		<div class="enjoy"><hr width="60%">Projects</div>
		<ul id="thumbnails">
			<li>
				<a ui-sref="home.projects.share"><img src="img/share.png" width="200px"></a>
			</li>
			<li>
				<a ui-sref="home.projects.surf"><img src="img/surf.png" width="200px"></a>
			</li>
			<li>
				<a ui-sref="home.projects.aqua"><img src="img/aqua.png" width="200px"></a>
			</li>
		</ul>
		<img id="c4" src="img/cloud.svg">
	</div>
	<div class="enjoy"><hr width="60%">About Me</div>
	<div class="row about-me">
		<img class="col-md-4" src="img/mypic.png">
		<div class="col-md-8">
			<p>
				I’m majoring in Human-Centered Design and Engineering at the University of Washington, and I will graduate in June 2017. <br>I want to make the world a better place with my curiosity and passionate about design.<br>BUT<br>A journey of a thousand miles begins with a single step.<br>
			</p>
			<p><a href="Yeqing_Lou_Resume2.pdf" target="_blank"><strong>-- Resume --</strong></a></p>
		</div>
	</div>
</div>