<div ui-view>
	<div id="cloud">
		<img id="c1" src="img/cloud.svg">
		<img id="c2" src="img/cloud.svg">
		<img id="c3" src="img/cloud.svg">
	</div>
	<div id="intro">
		<p id="name">Yeqing Lou</p>
		<img id="intro-me" src="img/me.svg">
		<p>I am Yeqing Lou<br>UX Designer | Web Developer</p>
	</div>
	<img id="crane" src="img/crane.svg">
	<div id="projects" class="row center-block">
		<div class="sec">Portfolio</div>
		<div id="thumbnails">
			<div class="col-md-3 col-xs-6">
				<div class="hovereffect">
					<a ui-sref="home.projects.share">
	        	<img class="img-responsive" src="img/share.png">
	        	<div class="overlay">
		          <h2>Share</h2>
							<p class="info"> 
								Web Applicatio
							</p>
	        	</div>
	        </a>
	    	</div>
	    </div>
    	<div class="col-md-3 col-xs-6">
				<div class="hovereffect">
					<a ui-sref="home.projects.surf">
	        	<img class="img-responsive" src="img/surf.png">
	        	<div class="overlay">
		          <h2>Surf</h2>
							<p class="info" style="color: #fff"> 
								Visual Communication Design
							</p> 
	        	</div>
	        </a>
	    	</div>
    	</div>
    	<div class="col-md-3 col-xs-6">
				<div class="hovereffect">
					<a ui-sref="home.projects.aqua">
	        	<img class="img-responsive" src="img/aqua.png">
	        	<div class="overlay">
		          <h2>Aqua</h2>
							<p class="info" style="color: #fff"> 
								UI Design
							</p> 
	        	</div>
	        </a>
	    	</div>
    	</div>
    	<div class="col-md-3 col-xs-6">
				<div class="hovereffect">
					<a ui-sref="home.projects.bridge">
	        	<img class="img-responsive" src="img/bridge.png">
	        	<div class="overlay">
		          <h2>Building Bridges</h2>
							<p class="info bridge" style="color: #fff"> 
								UX Design
							</p> 
	        	</div>
	        </a>
	    	</div>
    	</div>
		</div>
	</div>
	<div id="about">
		<img id="c4" src="img/cloud.svg">
		<div class="sec">About Me</div>
			<p>
				My name is Yeqing Lou and I am a UX designer and a web developer. I’m majoring in Human-Centered Design and Engineering at the University of Washington. In my spare time I enjoy cooking and drawing.
			</p>
			<p><a href="Yeqing_Lou_Resume.pdf" target="_blank"><strong>-- Resume --</strong></a></p>
		</div>
		<div id="contact">
			<img src="img/mypic.png" width="20%">
		</div>
<!-- 		<div class="col-md-3">
			<p>Yeqing Lou<br>Seattle, WA 98105<br>206-310-0013<br>lyq@louyeqing.com</p>
		</div>
		<div class="col-md-3">
			<a href="https://www.behance.net/sveaL" target="_blank"><img class="connect" src="img/behance.png"></a>
			<a href="https://github.com/YeqingL" target="_blank"><img class="connect" src="img/github.png"></a>
		</div> -->
	</div>
</div>