<div id="main">
  <script src="js/main.js" type="text/javascript"></script>

  <div class="container-fluid main_content">
    <div class="row">
      <div class="col-xs-12 yeqing">
        <p class="yeqing" style="font-size: 40px; text-align: center;"><span id="intro">YEQING LOU</span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <ul id="filter">
          <li><a ui-sref="main">PROJECTS</a></li>
          <br />
          <li><a ui-sref="main.about">ABOUT</a></li>
          <br />
          <li>
            <a href="mailto:yeqing9928@gmail.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/yeqinglou" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://medium.com/@yeqinglou" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-sm-10">
        <div ui-view>
          <script src="js/main.js" type="text/javascript"></script>
          
          <!-- thumbnails -->
          <div class="container-fluid">
            <div class="row allthumbs">

              <div class="col-xl-3 col-md-4 col-sm-12 thumb">
                <figure>
                  <a ui-sref="projects.aqua"><img src="img/aqua.jpg" alt="Aqua Music Player"></a>
                  <figcaption>
                    <hr>
                    <h4>Aqua Music Player</h4>
                    <p>Wireframe | Prototype | UI Design | Interaction Design</p>
                    <hr>
                  </figcaption>
                </figure>
              </div>

              <div class="col-xl-3 col-md-4 col-sm-12 thumb">
                <figure>
                  <a ui-sref="projects.doki"><img src="img/doki.png" alt="DokiDoki"></a>
                  <figcaption>
                    <hr>
                    <h4>Doki·Doki</h4>
                    <p>Research | Wireframe | Prototype | UI Design | Visual Design</p>
                    <hr>
                  </figcaption>
                </figure>
              </div>

              <div class="col-xl-3 col-md-4 col-sm-12 thumb">
                <figure>
                  <a ui-sref="projects.ambient"><img src="img/ambient.png" alt="Ambient"></a>
                  <figcaption>
                    <hr>
                    <h4>Ambient</h4>
                    <p>Rapid Prototyping | Interaction Design | UI Design</p>
                    <hr>
                  </figcaption>
                </figure>
              </div>

              <div class="col-xl-3 col-md-4 col-sm-12 thumb">
                <figure>
                  <a ui-sref="projects.echo"><img src="img/echo.jpg" alt="How-to Helper"></a>
                  <figcaption>
                    <hr>
                    <h4>How-To Helper</h4>
                    <p>Voice User Interface Design | Front-End Development</p>
                    <hr>
                  </figcaption>
                </figure>
              </div>

            </div>   
          </div>

        </div>
      </div>

    </div>
  </div>

  <footer id="footer1">
    <img height="100%" src="img/bg.jpg">
  </footer>
</div>
