<nav class="navbar navbar-default navbar-fixed-top proj-nav">
  <div class="container-fluid" style="padding: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="brand"><img src="img/me.png" width="50px"></li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-right2">
        <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li><a ui-sref="projects.share">Share</a></li>
        <li><a ui-sref="projects.surf">Surf</a></li>
        <li><a ui-sref="projects.aqua">Aqua</a></li>
        <li><a ui-sref="projects.bridge">Building Bridges</a></li>
      </ul>
    </div>
  </div>
</nav>
<div ui-view></div>