<div>
  <div ui-view></div>
  <div class="container-fluid allprj prj_content">
    <div class="row allthumbs">
      <p style="text-align: center;"><a ui-sref="main"><img src="img/exit.png" width="50"></a></p>
      <!-- 1 -->
      <div class="col-xl-3 col-md-4 col-sm-12 thumb">
        <a ui-sref="projects.autelrobotics">
          <figure>
            <img src="img/autel.jpg" alt="Autel Robotics">
            <figcaption><span class="name">Starlink Onboarding</span><br />UX <b>-</b> Mobile App</figcaption>
          </figure>
        </a>
      </div>
      <!-- 2 -->
      <div class="col-xl-3 col-md-4 col-sm-12 thumb">
        <a ui-sref="projects.aqua">
          <figure>
            <img src="img/aqua.jpg" alt="Aqua Music Player">
            <figcaption><span class="name">Aqua Music Player</span><br />UI <b>-</b> Mobile App</figcaption>
          </figure>
        </a>
      </div>
      <!-- 3 -->
      <div class="col-xl-3 col-md-4 col-sm-12 thumb">
        <a ui-sref="projects.echo">
          <figure>
            <img src="img/echo.jpg" alt="How-to Helper">
            <figcaption><span class="name">How-to Helper</span><br />Dev <b>-</b> Amazon Echo Skill</figcaption>
          </figure>
        <!-- </a> -->
      </div>
      <!-- 5 -->
      <div class="col-xl-3 col-md-4 col-sm-12 thumb print">
        <a ui-sref="projects.surf">
          <figure>
            <img src="img/surf.jpg" alt="Surf Incubator">
            <figcaption><span class="name">Surf Incubator Redesign</span><br />Brand <b>-</b> Digital, Print</figcaption>
          </figure>
        </a>
      </div>
      <!-- 6 -->
      <div class="col-xl-3 col-md-4 col-sm-12 thumb">
        <a ui-sref="projects.share">
          <figure>
            <img src="img/share.jpg" alt="Share">
            <figcaption><span class="name">Share</span><br />Dev <b>-</b> Web Application</figcaption>
          </figure>
        </a>
      </div>
      <!-- 7 -->
      <div class="col-xl-3 col-md-4 col-sm-12 thumb">
        <a ui-sref="projects.kc">
          <figure>
            <img src="img/kc.jpg" alt="Koran Cuban">
            <figcaption><span class="name">Korean Cubans Photos</span><br />Dev <b>-</b> Website</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>

<footer>
  yeqing9928@gmail.com&nbsp;&nbsp;|&nbsp;&nbsp;206·310·0013
</footer>
