<div id="main">
	<div class="title surf">
		<h1>Surf Incubator Redesign</h1>
	</div>
	<section class="content abstract row">
		<div class="col-xs-4 col-md-4">
			<p class="d-t">Date</p>
			<p>November, 2015<br>- December, 2015</p>
		</div>
		<div class="col-xs-4 col-md-4">
			<p class="d-t">My Distribution</p>
			<p>Individual Project<br>Sketch, Design
			</p>
		</div>
		<div class="col-xs-4 col-md-4">
			<p class="d-t">Final Work</p>
			<p><a class="demo-btn" data-toggle="modal" data-target="#myModal">View Demo</a></p>
		</div>
	</section>
	<section class="content">
		<h3>Project Overview</h3>
		<p>
			This is a design practice about recreating the visual system of Surf Incubator. The purpose of this design practice is for me to apply what I have learned (I did not do this project for Surf Incubator). In this project, I identified Surf’s brand attributes, redesigned its website, and created a mobile app for Surf employees.
		</p>
		<p>
			About Surf Incubator: Surf Incubator is a company that helps technology startups to develop by providing an affordable and professional environment.
		</p>
		<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Picture Demo of Surf</h4>
					</div>
					<div class="modal-body">
						<img src="templates/surf/surf.jpg" width="800px">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<h3>Work Process</h3>
		<h4>Step1: Explore Surf Incubator Website</h4>
		<p>
			After exploring Surf Incubator Website, I identified three problems regarding visual communication:
		</p>
		<ul>
			<li><p>1. Its website does not effectively reveals the company’s technology-related attribute.</p></li>
			<li><p>2. The homepage contains too many bullet points, and the same problem appears also on its “Ethos” and “Vision” page. It affects the page hierarchy and the effectiveness of the visual communication.</p></li> 
			<li><p>3. The content hierarchy is not proper because the form takes too much space of the page, and its blue background distract people from reading information outside the form.</p></li>
		</ul>
		<h4>Step2: Provide Solutions to the Problems</h4>
		<ul>
			<li>
				<p><strong>Brand Identity:</strong> I identified its brand attributes as technological and credible. The logo includes three elements: surf, incubator and technology, and I used blue as the theme color because it not only related to “surf”, but also creates a calm and reliable feeling.</p>
				<img src="templates/surf/brand_identity.svg" width="400px">
			</li>
			<li>
				<br>
				<p><strong>Redesigned the homepage:</strong> categorized bullet points and combines them with corresponding pictures. The main job of Surf is to provide service to its registered companies and attract potential clients. Therefore, I highlighted the "Join Now" button, and I added the membership information on the homepage.</p>
				<img src="templates/surf/web-landing.png" width="100%">
			</li>
			<li>
				<br>
				<p><strong>Changed conference room reservation:</strong> instead of putting all information together, I divided it into groups so that users with different room requirements can find information more easily, and improved page hierarchy to make it information more readable.</p>
				<img src="templates/surf/web-sub.png" width="100%">
			</li>
			<li>
				<br>
				<p>What's more, I designed a mobile app for Surf members to help them manage their schedules.</p>
				<img src="templates/surf/surf-mobile.png" width="400px">
			</li>
		</ul>
	</section>
	<section class="content">
		<h3>Challenge</h3>
		<p>
			The most difficult part of this project for me is the logo design. I tried to keep it simple, but also representative of its brand attributes. I did many iterations and also created a mind map to open my mind. At first, my iterations are not very technological related, and I made changes after critiques. I was inspired a lot through critiques, and finally came up the current logo. However, there is still so much space to improve, and so much for me to learn.  
		</p>
	</section>
	<section class="content">
		<h3>What I would do if I had more time?</h3>
		<p>
			If I had more time, I would create a more complete system. So far, I only create the landing and one sub page for both website and mobile app. I would also do some research and build some connections with Surf’s employees to know Surf’s culture better. Knowing Surf better also allows me to have empathy, so that my design could be more connotative. 
		</p>
	</section>
	<section class="content">
		<h3>Takeaways</h3>
		<h4>Let the critiques break in all its fury!</h4>
		<p>
			It was so nice to see everyone be honest about their thoughts and sincerely take others’ advice. I got many enlightening feedbacks during critiques.
		</p>
		<h4>Always keep the audience in mind. </h4>
		<p>
			Visual communication design is to deliver information. It fails if the audience cannot understand the information the designer wants to communicate. Having the audience in mind is helpful for me to find a better solution, and it is also supports the reasons why I make certain changes, even if the change is subtle. 
		</p>
	</section>
</div>