<div id="main">
  <div class="title surf">
    <h1>Surf Incubator Redesign</h1>
  </div>
  <div>
    <h4>Visual Communication Design</h4>
    <p>Design practice: visual system for Surf Incubator, including brand identity, color palette, and UI design</p>
  </div>
  <section class="abstract row">
    <div class="col-sm-3">
      <h4 class="d-t">Date</h4>
      <p>Nov 2015 - Dec 2015<br />4 Weeks</p>
    </div>
    <div class="col-sm-3">
      <h4 class="d-t">My Contribution</h4>
      <p>Brand Identity<br />Visual System</p>
    </div>
    <div class="col-sm-3">
      <h4 class="d-t">Deliverables</h4>
      <p><a class="demo-btn" data-toggle="modal" data-target="#myModal">View Demo</a></p>
      <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Picture Demo of Surf</h4>
            </div>
            <div class="modal-body">
              <img src="templates/surf/surff.jpg" width="800px">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="d-t">Tools</h4>
      <img src="img/ai.png" width="45px" />
      <img src="img/ps.png" width="45px" />
    </div>
  </section>

  <section class="content">
    <img src="templates/surf/overview.png" width="100%" />
  </section>
  <section class="1 content">
    <h3>Research</h3>
    <p>
      My research serves as a guide of my redesign. In order to find out what Surf Incubator is, what it does and its goal, I visited its company website and facebook page.
    </p>
  </section>
  <section class="content">
    <h3>Brand Identity</h3>
    <p>
      Surf Incubator is a company that helps technology startups grow and develop by providing an affordable and professional environment. I identified Surf’s brand attributes as technological and credible, which came from its target (technology startups) and its missions (being supportive).
    </p>
  </section>
  <section class="content">
    <h3>Logo</h3>
    <h4>Sketches</h4>
    <div class="my-slider">
      <ul>
        <li><img src="templates/surf/sketch1.jpg" width="100%" /></li>
        <li><img src="templates/surf/sketch2.jpg" width="100%" /></li>
        <li><img src="templates/surf/sketch3.jpg" width="100%" /></li>
        <li><img src="templates/surf/sketch4.jpg" width="100%" /></li>
        <li><img src="templates/surf/sketch5.jpg" width="100%" /></li>
        <li><img src="templates/surf/sketch6.jpg" width="100%" /></li>
      </ul>
    </div>
    <h4>Iterations</h4>
    <img src="templates/surf/logo.png" width="100%" />
  </section>
  <section class="2 content">
    <h3>Web Mockups</h3>
    <h4>Homepage</h4>
    <p>
      Users: the most possible users of a company’s homepage are its potential clients. The goal of visiting the homepage is to get important information about Surf, including what it does, what it looks like, and its service. Based on those information, the user determines whether or not to join Surf. Therefore, I made several changes to make the information delivered more effectively.
    </p>
    <p>
      &#9679; Change 1: Highlighted “Join” button<br />I moved the “Join” button to the very right and changed its background color to distinguish it from other links so that it is very easy to notice, which fulfill one of Surf’s mission: having people join it. Its button-liked look creates a feeling that the register process would be simple and fast.<br />&#9679; Change 2: Categorized contents<br />On the original homepage, all the information was listed in bullet points and is mixed with different types of services Surf can provide. Audience may find the information too much and not be willing to read carefully. Therefore, I divided them into several categories and put the texts together with corresponding images to make the information impressive and easy to read.
    </p>
    <img src="templates/surf/web-landing.png" width="100%" />
    <h4>Room Reservation Page</h4>
    <p>
      Users: people who want to reserve a room will visit this page. In order to book a page, they need to know different types rooms available,  what they look like and if they meet their requirements.  
    </p>
    <p>
      &#9679; Change 1: Horizontal drop down menu<br />Under “events” there are three services, using horizontal navigation with current page highlighted makes it easier to switch between services and browse.<br />&#9679; Change 2: Categorized room types<br />Instead of putting all information together, I divided the information into groups so that users with different room requirements can find information more easily. This also helps improve content hierarchy.<br />&#9679; Change 3: Add “book room” to the top<br />This option is only at the bottom on the official page. I added it above the folder for the convenience of those who are familiar with the rooms and want to book one quickly.
    </p>
    <img src="templates/surf/web-sub.png" width="100%" />
    <h4>Interations</h4>
    <div class="my-slider" style="width: 100%">
      <ul>
        <li><p>Iteration1</p><img src="templates/surf/web1.png" width="100%" /></li>
        <li><p>Iteration2</p><img src="templates/surf/web2.png" width="100%" /></li>
        <li><p>Iteration3</p><img src="templates/surf/web3.png" width="100%" /></li>
      </ul>
    </div>
  </section>
  <section class="content">
    <h3>Mobile Mockup</h3>
    <p>
      I also designed a mobile app for internal use. Employees of Surf’s clients can use the app to manage schedules and make reservations quickly.
    </p>
    <img src="templates/surf/mobile.jpg" width="60%" />
    <h4>Interations</h4>
    <div class="my-slider">
      <ul>
        <li><p>Iteration1</p><img src="templates/surf/mobile1.png" width="100%" /></li>
        <li><p>Iteration2</p><img src="templates/surf/mobile2.png" width="100%" /></li>
      </ul>
    </div>
  </section>
  <section class="content">
    <h3>Visual Design System</h3>
    <div class="my-slider">
      <ul>
        <li><p>Brand Identity</p><img src="templates/surf/s1.jpg" width="100%" /></li>
        <li><p>Design Guide</p><img src="templates/surf/s3.jpg" width="100%" /></li>
        <li><p>Image Use Guide</p><img src="templates/surf/s4.jpg" width="100%" /></li>
        <li><p>Printed Pieces</p><img src="templates/surf/s5.jpg" width="100%" /></li>
        <li><p>Website Landing Page Example</p><img src="templates/surf/s6.jpg" width="100%" /></li>
        <li><p>Website Sub Page Example</p><img src="templates/surf/s7.jpg" width="100%" /></li>
        <li><p>Mobile App Example</p><img src="templates/surf/s8.jpg" width="100%" /></li>
      </ul>
    </div>
  </section>

  <div id="prev">
    <p><a ui-sref="projects.share"><img src="img/left.png" width="50px" /></a></p>
  </div>
  <div id="next">
    <p><a ui-sref="projects.aqua"><img src="img/right.png" width="50px" /></a></p>
  </div>
</div>

<script>
  jQuery(document).ready(function($) {
    $('.my-slider').unslider();
  });

  // $(window).on("scroll touchmove", function() {
  //   $('#progress').children().css('background', '');
  //   if ($(document).scrollTop() + 150 >= $(".1").position().top) {
  //     $('#1').css('background', '#a9f0fc');
  //   }
  //   if ($(document).scrollTop() + 150 >= $(".2").position().top) { 
  //     $('#2').css('background', '#85dee5');
  //   }
  //   if ($(document).scrollTop() + 150 >= $(".3").position().top) { 
  //     $('#3').css('background', '#74cfd6');
  //   } 
  // });
</script>