<div id="main">
  <div class="title surf">
    <h1>Surf Incubator Redesign</h1>
  </div>
  <div>
    <h4>Visual Communication Design</h4>
    <p>Visual system for Surf Incubator, including brand identity, color palette, and UI design</p>
  </div>
  <section class="content abstract row">
    <div class="col-xs-3">
      <h4 class="d-t">Date</h4>
      <p>Nov 2015<br />- Dec 2015</p>
    </div>
    <div class="col-xs-3">
      <h4 class="d-t">My Contribution</h4>
      <p>Branding<br />Visual System</p>
    </div>
    <div class="col-xs-3">
      <h4 class="d-t">Deliverables</h4>
      <p><a class="demo-btn" data-toggle="modal" data-target="#myModal">View Demo</a></p>
      <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Picture Demo of Surf</h4>
            </div>
            <div class="modal-body">
              <img src="templates/surf/surff.jpg" width="800px">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <h4 class="d-t">Tools</h4>
      <img src="img/ai.png" width="45px" />
      <img src="img/ps.png" width="45px" />
    </div>
  </section>
  <section class="content">
    <h3>Surf Incubator</h3>
    <p>
      Surf Incubator is a company that helps technology startups to develop by providing an affordable and professional environment.
    </p>
  </section>
  <section class="content c2">
    <h3>Process</h3>
    <h4>Research</h4>
    <p>
      Before I started redesign, I did a research on what the company does and needs. My research findings and my analysis on the effectiveness of its website in the aspect of visual communication design are displayed in details in the following sections. (Please note that the company has updated its website and it may look different from what I mention here.)
    </p>
    <h4>Brand Identity</h4>
    <p>
      I identified Surf’s brand attributes as technological and credible.<br /><strong>Technological:</strong> Surf’s clients are technology startups.<br /><strong>Credible:</strong> Surf provides services to its clients and it expects its clients to trust it. 
    </p>
    <img src="templates/surf/sketches.jpg" width="100%" /><br />
    <img src="templates/surf/brand_identity.png" width="100%" />
    <h4>Website Redesign</h4>
    <p>
      <strong>1. Highlighted “Join” button:</strong> Surf wants potential clients to join the community.
      <br />
      <strong>2. Categorized contents:</strong> this is the part where the audience find information about Surf’s services. On the original homepage, all the information was listed in bullet points and is mixed with different types of services Surf can provide. Audience may find the information too much and not be willing to read carefully. Therefore, I divided them into several categories and put the texts together with images to make the information impressive and easy to read.
    </p>
    <img src="templates/surf/web-landing.png" width="100%" /><br /><br />
    <p>
      <strong>3. Changed conference room reservation:</strong> instead of putting all information together, I divided the information into groups so that audiences with different room requirements can find information more easily. This also helps improve content hierarchy.
    </p>
    <img src="templates/surf/web-sub.png" width="100%" />
    <h4>Mobile App Design</h4>
    <p>
      I also designed a mobile app for internal use. Employees of Surf’s clients can use the app to manage schedule and make reservations quickly.
    </p>
    <img src="templates/surf/mobile.jpg" width="100%" />
    <h4>Former Iterations</h4>
    <p>Web Version 1</p>
    <img src="templates/surf/web01.jpg" width="100%" /><br /><br />
    <p>Web Version 2</p>
    <img src="templates/surf/web02.jpg" width="100%" /><br /><br />
    <p>Mobile Versions</p>
    <div class="row">
      <img class="col-md-6" src="templates/surf/mobile01.png" width="100%" />
      <img class="col-md-6" src="templates/surf/mobile02.png" width="100%" />
    </div>
  </section> 
  <div id="prev">
    <p><a ui-sref="home.projects.share"><img src="img/left.png" width="50px" /></a></p>
  </div>
  <div id="next">
    <p><a ui-sref="home.projects.aqua"><img src="img/right.png" width="50px" /></a></p>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75575300-1', 'auto');
  ga('send', 'pageview');
</script>