<script src="js/main.js" type="text/javascript"></script>

<div id="welcome">
	<div id="hello">
		<p>Hello, I'm Yeqing Lou. <br /> Welcome to my portfolio.</p>
    <p>(The website is still under construction, sorry about the inconvenience!)</p>
	</div>

	<div id="lower">
		<h3>selected projects</h3>
		<div id="selected">
			<div class="row">
        <figure class="snip1321 col-md-6 col-sm-12"><img src="img/autel.jpg" alt="Autel Robotics">
          <figcaption>
            <h2 style="color: #c13f2b">Autel Robotics</h2>
            <h4>UX Design Internship</h4>
          </figcaption><a ui-sref="main.projects.autelrobotics"></a>
        </figure>
        <figure class="snip1321 col-md-6 col-sm-12"><img src="img/echo.jpg" alt="How-to Helper">
          <figcaption>
            <h2 style="color: #132867">How-to Helper</h2>
            <h4>VUI Design & Prototype</h4>
          </figcaption><a ui-sref="main.projects.echo"></a>
        </figure>
			</div>
		</div>
		<p id="view_all"><a class="button" ui-sref="main.projects">view all</a></p>
	</div>
</div>